[2013-07-29 11:49] gavanderhoorn opened #1 "Migrate old GoogleCode issues to their respective GitHub projects"
Those issues that are still relevant (and haven't been already fixed or invalidated by other work) should be migrated to their respective GitHub projects.

Can be done either manually or semi-automated, see [this](http://beets.radbox.org/blog/github-issues.html) page for instance.

Suggest using a 'gc-hithub-migration' user (or similar) as reporter of the tickets in the case we opt for the automat

[2013-07-29 12:51] shaun-edwards commented on #1
My plan was to manually link back to the remaining issues. A lot of them will be closed with a new Motoman update. The plan is to use the individual github trackers(as you have).  I created this repo because people have complained that they don't know where to submit bugs. They can submit to this one (linked to from our main page) and I will figure out where it goes.

[2013-07-30 23:05] ghost opened #2 "Native Robot I/O"
Native robot I/O should be supported through standard ROS-I interfaces.  Most industrial controllers have built-in (embedded) I/O standard functions like fence-status, gripper-close, etc.  They generally also support general purpose I/O.  Exposing these I/O points would remove the requirement for separate networked I/O from the ROS PC.

[2013-07-31 13:48] #2 closed, assigned to nobody

[2013-10-06 21:16] gh001 opened #3 "Adept packages are maintained by 'root'"
The Adept packages seem to be _maintained by root_.

The [stack manifest](http://swri-ros-pkg.googlecode.com/svn/branches/groovy/adept/stack.xml) file `author` tag should be updated to reflect the actual maintainer.

[2013-10-09 01:54] shaun-edwards opened #4 "All robot driver servers should return an error on an unrecognized message"
When an unrecognized command is received by the server side of the robot driver it should respond to the client with an error reply.  Some servers simply ignore unknown messages.

[2013-10-14 02:45] shaun-edwards opened #5 "Catkin cmake flags for release build"
http://answers.ros.org/question/71965/catkin-compiled-code-runs-3x-slower/

[2013-11-04 09:11] gavanderhoorn opened #6 "Add maintenance status to ROS-I catkin packages"
As described on the [MaintenanceGuide](http://wiki.ros.org/MaintenanceGuide) wiki page, section [6.1 - Checklist For Package Maintainers](http://wiki.ros.org/MaintenanceGuide#Checklist_For_Package_Maintainers) all catkinised packages should have a maintenance status listed on their wiki pages.

As of 2013-11-04T10:09:39+01:00, all ROS-I packages lack such a status indication. This should be fixed.

[2013-11-25 15:41] gavanderhoorn opened #7 "Main ROS-I wiki page only mentions BSD license"
AFAIU some packages within ROS-I now use the Apache 2.0 license. Perhaps the [Industrial](http://wiki.ros.org/Industrial) page on the ROS wiki should be updated to reflect that change?

[2013-12-03 10:00] gavanderhoorn opened #8 "CMake targets should be prefixed by ${PROJECT_NAME}"
Apparently targets declared using `add_executable(..)` (and similar commands) should be prefixed by `${PROJECT_NAME}` in catkin-based `CMakeLists.txt`, to avoid name clashes either at configuration or during build (as all packages are build in a single, flat namespace during `catkin_make`).

See [catkin/issues/477](https://github.com/ros/catkin/issues/477) for an example of where not prefixing cau

[2013-12-05 03:21] #7 closed, assigned to nobody

[2013-12-16 08:10] gavanderhoorn opened #9 "Python scripts should probably avoid hardcoding path to python binary"
Python scripts in some of the industrial packages seem to hard code the path to the Python interpreter binary in their shebang line, ie: `#!/usr/bin/python` vs `#!/usr/bin/env python`.

While I haven't been able to find a definitive answer, at least in the ROS community it seems it might be better to use the `env` variant. Seeing as ROS aims to support multiple Linux distributions, each with their

[2013-12-17 15:06] shaun-edwards opened #10 "ABB not included in industrial-desktop debian"
sudo apt-get install ros-groovy-industrial-desktop does not install abb package (reported by @phvass )

[2013-12-27 03:17] shaun-edwards opened #11 "Add roslaunch test to all packages with launch files"
The roslaunch test ( http://wiki.ros.org/catkin/migrating_from_rosbuild#Test_Macros ) should be added to all packages that contain any launch files.  The test ensures that the package depencies capture the launch dependencies.

- [x] `industrial_core`: ros-industrial/industrial_core#179
- [x] `fanuc`: ros-industrial/fanuc#30
- [x] `abb`: no tracking issue (addressed in ros-industrial/abb#43)
- [x]

[2014-01-05 23:27] shaun-edwards opened #12 "Update make install targets for debian release"
The `catkin_make install` target is used to build debain packages.  As a result, the install target must be defined for every package, including the files (source, headers, launch, etc...) that should be included in the deb.

More information can be found [here](https://groups.google.com/forum/#!topic/swri-ros-pkg-dev/ouSUGmrbsKs)
- [x] [Industrial Core](https://github.com/ros-industrial/industria

[2014-01-09 11:17] #9 closed, assigned to nobody

[2014-01-09 15:45] gavanderhoorn opened #13 "wiki: IndustrialRobotDriverSpec is missing Indigo specific page"
As per subject: seems like something we want to fix before the coming Hydro release(s)?

[2014-01-10 16:08] gavanderhoorn opened #14 "multi: arm_navigation packages should be marked as deprecated"
It would probably be a good idea to mark the arm_navigation packages for the various robot models we support as being deprecated (in Groovy branches). This can be done by including an empty `deprecated` tag inside of an `export` tag in `package.xml`.

The ROS doc builders use this information to place an additional badge on the packages wiki page, which clearly marks the package as deprecated.

[2014-01-20 03:17] shaun-edwards opened #15 "Arm navigation package should be removed from Hydro branches"
Arm navigation was deprecated in groovy and will not be supported in Hydro.
- [x] [Fanuc](https://github.com/ros-industrial/fanuc)
- [x] [ABB](https://github.com/ros-industrial/abb)
- [x] [Motoman](https://github.com/ros-industrial/motoman)
- [x] [Universal](https://github.com/ros-industrial/universal_robot)

[2014-01-21 03:12] shaun-edwards opened #16 "Create a script to automate vendor repo generation"
The specification for vendor repo layouts (see [here](http://wiki.ros.org/Industrial/Tutorials/SuggestedPackageLayoutNewRepositories) ) is meant to standardize the look and feel of repositories and ros packages.  It provides a framework that should support a variety of product types and variations.  The process of creating the desired directory structure as well as populating typical files (packag

[2014-01-22 08:09] gavanderhoorn opened #17 "Fanuc not included in industrial-desktop metapackage"
Like #10, but for the Groovy released Fanuc stack.

[2014-02-04 16:58] gavanderhoorn opened #18 "Configuring tests should be conditional (CATKIN_ENABLE_TESTING)"
See [Configuring and running unit tests](http://docs.ros.org/hydro/api/catkin/html/howto/index.html#configuring-and-running-unit-tests) on the _catkin 0.5.81 documentation_ page.

Not sure whether the new `roslaunch` based tests should also be surrounded by a conditional.
- [x] [ABB](https://github.com/ros-industrial/abb)
- [x] [Fanuc](https://github.com/ros-industrial/fanuc)
- [x] [Industrial Cor

[2014-02-04 17:11] gavanderhoorn opened #19 "Check if 'test' directory for roslaunch tests conflicts with unit tests"
From the [rosbuild_add_roslaunch_check](http://wiki.ros.org/rosbuild/CMakeLists#rosbuild_add_roslaunch_check) section on the _Writing a ROS CMakeLists.txt file_ page:

I'm not sure whether this is still an issue with the catkin version `roslaunch_add_file_check(..)`, but I think we should still check this.

[2014-02-04 17:33] gavanderhoorn opened #20 "xacro run depend missing from all support packages?"
Even though all support packages (and also the various `_config` pkgs) contain xacro's, none of them declare a (run) dependency on the `xacro` package itself.

As the `load_X.launch` launch files in the newer support packages load an xacro, I think the dependency should be added.

Affected packages:
- [x] ABB (ros-industrial/abb#22)
- [x] Fanuc (ros-industrial/fanuc#67)
- [x] Motoman (ros-industri

[2014-02-04 17:50] gavanderhoorn opened #21 "Generated MoveIt IKFast plugin pkgs have wrong depends setup"
As reported in ros-planning/moveit_ikfast#21: all IKFast plugin packages generated using the `moveit_ikfast` package have catkin packages listed as system `DEPENDS` in their `CMakeLists.txt`. They should be under `CATKIN_DEPENDS`.

Affected packages:
- [x] ABB
- [x] Fanuc
- ~~[ ] Motoman~~
- ~~[ ] Universal Robot~~

[2014-02-07 07:23] gavanderhoorn opened #22 "Update MoveIt cfgs to include GetPlanningSceneService capability"
See [Breaking Change: needs MoveIt! config file update](https://groups.google.com/d/msg/moveit-users/mUQqqFsGu9U/VSj0tswHfHAJ) on the _moveit-users_ group by S. Chitta.

Only for Hydro.

Affected packages:
- [x] ABB
- [x] Fanuc
- [x] Motoman
- [x] Universal Robot

[2014-02-10 11:10] gavanderhoorn opened #23 "moveit_cfgs: missing run_depend on industrial_robot_simulator"
As per subject.

All industrial `moveit_config` packages use the `industrial_robot_simulator`, but don't declare a runtime dependency on it.

Affected packages:
- [x] ABB
- [x] Fanuc
- [ ] Motoman
- [x] Universal Robot

[2014-03-16 16:18] gavanderhoorn opened #24 "tool0: ROS-I vs industrial controllers (discussion)"
The `tool0` frame is supposed to provide a standardised point of attachment for urdfs describing tools [[1]](http://wiki.ros.org/Industrial/Tutorials/Create%20a%20URDF%20for%20an%20Industrial%20Robot#Create_a_XACRO_Macro_for_your_robot). According to @shaun-edwards, the original intent of the text in [1] was to align the urdf `tool0` frame with the toolframe of the actual robot (ros-industrial/abb

[2014-03-28 10:20] #10 closed, assigned to nobody

[2014-03-28 10:26] #15 closed, assigned to nobody

[2014-04-02 10:08] gavanderhoorn opened #25 "moveit_cfgs: document incorrect acceleration limits"
Started as ros-industrial/fanuc#91, but would seem to apply to all MoveIt configs in ROS-Industrial.

The idea is to alert the user to the fact that the currently defined acceleration limits are incorrect. Possibly adding this information to the package manifest.

Affected packages:
- [ ] ABB
- [x] Fanuc
- [ ] Motoman
- [ ] Universal Robot

[2014-04-16 18:43] gavanderhoorn opened #26 "Add links to contribution guidelines using Githubs infrastructure"
Github parses `CONTRIBUTING(.md)` files in repositories and displays a link to such a file at the top of all pull requests and the _new issue_ page (see [[1]](https://github.com/blog/1184-contributing-guidelines)).

We could use this to direct people to the ROS-I coding and pull request standards / guidelines.

[2014-04-24 02:41] #24 closed, assigned to nobody

[2014-06-18 11:54] gavanderhoorn opened #27 "drivers: add support for linear (or: non-revolute) axes"
Some industrial work cells include additional axes configured as rails or other types of linear actuation. URDF and MoveIt support these setups, but most (if not all) current driver implementations implicitly assume only rotational joints are used.

Either drivers should be extended to support non-revolute axes, or their current support should be validated.

Affected packages:
- [ ] ABB (ros-indus

[2014-08-27 12:08] gavanderhoorn opened #28 "Add 'base' coordinate system link to URDFs"
As discussed in ros-industrial/ros_industrial_issues#24.

Affected packages:
- [x] ABB
- [x] Fanuc
- [ ] Motoman
- [x] Universal Robot

[2014-09-11 10:30] gavanderhoorn opened #29 "Missing liblapack dep in (generated) MoveIt IKFast packages"
This should be fixed in all IKFast plugin packages that were generated using `moveit_ikfast`.

Affected packages:
- [x] ABB
- [x] Fanuc

[2014-09-16 16:27] #29 closed, assigned to nobody

[2014-09-20 19:23] #17 closed, assigned to shaun-edwards

[2014-09-20 19:34] #21 closed, assigned to nobody

[2014-09-20 19:35] #19 closed, assigned to nobody

[2014-09-20 20:03] #22 closed, assigned to nobody

[2014-09-20 20:06] #14 closed, assigned to nobody

[2014-09-22 05:06] shaun-edwards opened #30 "ROS-Industrial Indigo Release"
@gavanderhoorn, @dpsolomon, @abubeck, @rkojcev, @phvass, @gomezc:

I have created milestones for indigo (see [here](https://github.com/ros-industrial/ros_industrial_issues/blob/master/indigo_roadmap.md)).  I'd like to utilize these milestones to track the indigo release progress.  Please update these milestones with due dates and issues to be addressed.  I'd like to aim for all indigo releases to

[2014-10-13 12:15] gavanderhoorn opened #31 "wiki: clicking footnote marks in supported_hardware table does not take reader to Notes section"
This could be due to an interaction with the version rocker, but clicking on the footnote marks on the [Industrial/supported_hardware](http://wiki.ros.org/action/fullsearch/Industrial/supported_hardware) page does not take me to the _2. Notes_ section. The url shown in the address bar of my browser does change, but nothing else happens.

This was reported by a user, in private email.

[2014-10-13 12:16] gavanderhoorn opened #32 "wiki: update supported_hardware page (again)"
As per subject. Motoman and Fanuc entries seem rather out of date.

Formatting of the _Definitions_ sections could perhaps be looked at as well?

[2014-12-05 09:11] gavanderhoorn opened #33 "Add 'doc' attributes to 'arg' elements in all launch files"
Since [ros_comm/PR#379](https://github.com/ros/ros_comm/pull/379) (released in roslaunch 1.11.1), the roslaunch `arg` element supports a `doc` attribute (currently undocumented). As one would expect, its function is to allow launch file authors to add (short) documentation strings to launch file arguments.

ROS-Industrial launch files should be updated to include doc strings in all launch files.

[2015-01-16 11:16] gavanderhoorn opened #34 "Fix project description on 'Robot Operating System' Wikipedia page"
The Wikipedia page on the [_Robot Operating System_](http://en.wikipedia.org/wiki/Robot_Operating_System) has this to say about ROS-Industrial:

Which is at best incomplete.

This should be fixed.

Note: the [Wikipedia:Plain and simple conflict of interest guide](http://en.wikipedia.org/wiki/Wikipedia:Plain_and_simple_conflict_of_interest_guide).

[2015-02-03 07:44] gavanderhoorn commented on #28
ABB packages done in ros-industrial/abb#63.

[2015-03-22 14:03] gavanderhoorn opened #35 "wiki: add mfg/manipulator links to RobotTable on ROS wiki 'robots page'"
A new `RobotTable(..)` macro (together with `RobotEntry(..)`) was recently introduced (in ros-infrastructure/roswiki#123).

The entirety of ROS-Industrial is currently represented by a single entry (showing a SIA10D), so I suggest we update the page to include entries for all compatible robots/controllers by making use of the new macro (see [Robots](http://wiki.ros.org/Robots) for the current page

[2015-06-06 07:43] gavanderhoorn commented on #28
UR packages done in ros-industrial/universal_robot#200.

[2015-06-06 07:45] gavanderhoorn commented on #13
There is an Indigo (and newer) page now. Closing this.

[2015-06-06 07:45] #13 closed

[2015-06-10 20:48] gavanderhoorn commented on #35
Done something for `fanuc`, see [Robots/diff/rev1=287/rev2=288](http://wiki.ros.org/Robots?action=diff&rev1=287&rev2=288).

[2015-06-11 14:55] gavanderhoorn commented on #35
ABB: [Robots/diff/rev1=288/rev2=289](http://wiki.ros.org/Robots?action=diff&rev1=288&rev2=289).

[2015-06-12 11:43] gavanderhoorn commented on #35
Motoman: [Robots/diff/rev1=291/rev2=292](http://wiki.ros.org/Robots?action=diff&rev1=291&rev2=292).

[2015-06-12 12:20] gavanderhoorn commented on #35
Universal Robots: [Robots/action=diff/rev1=292/rev2=293](http://wiki.ros.org/Robots?action=diff&rev1=292&rev2=293).

[2015-06-12 12:21] gavanderhoorn commented on #35
That's all of them for now. I'll leave the entries under *Manipulators*.

[2015-06-12 12:21] #35 closed

[2015-06-17 18:22] gavanderhoorn commented on #33
Fanuc done in ros-industrial/fanuc#168.

[2015-11-10 03:46] 13354089 opened #36 "Some problems about ros industrial_calibration"
Hi, I am following you steps on http://wiki.ros.org/industrial_extrinsic_cal to install industrial_extrinsic_cal on my ubuntu 14.04, but after I cloned industrial_calibration from https://github.com/ros-industrial/industrial_calibration and then run catkin_make in my baxter_ws, it reported some errors:
[code]
Could you help me with that? It has bothered me for a few days.........TAT.

[2015-11-10 07:53] gavanderhoorn commented on #36
I think it would be better to report this at the `ros-industrial/industrial_calibration` [issue tracker](https://github.com/ros-industrial/industrial_calibration/issues).

As to your question: these errors are most of the times due to your computer not having enough memory available for compilation. Are you running on an embedded platform? Or some other machine with low physical ram, and no swap e

[2015-11-10 18:37] jrgnicho commented on #36
I agree with @gavanderhoorn , this issue seems to be caused by insufficient memory.  This [link](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/3/html/System_Administration_Guide/s1-swap-adding.html) describes how to add swap space when more memory is needed.

[2015-11-11 07:16] 13354089 commented on #36
Thank you for all you guys helping me, now the problems is solved. @jrgnicho  @gavanderhoorn

[2015-11-11 10:08] sampsonh commented on #36
hi,i meet some problems about industrial_extrinsic_tutorials,when i done the first example(Multi_camera_calibration),i following the instrument to modify the file all,but i get the wrong data,can you give me some advice about the calibration of two kinect @jrgnicho @gavanderhoorn@ Christina gomezc

[2015-11-11 10:10] sampsonh opened #37 "industrial_calibration problem"
hi,i meet some problems about industrial_extrinsic_tutorials,when i done the first example(Multi_camera_calibration),i following the instrument to modify the file all,but i get the wrong data,can you give me some advice about the calibration of two kinect .who can help me ,thanks!!!!!

[2015-11-11 10:23] gavanderhoorn commented on #36
@sampsonh: can you please not hijack threads for your own issues?

Please open a new issue on the `industrial_calibration` [issue tracker](https://github.com/ros-industrial/industrial_calibration/issues), or send an email to the [ROS-Industrial mailing list](https://groups.google.com/forum/#!forum/swri-ros-pkg-dev).

[2015-11-11 10:25] gavanderhoorn commented on #36
Seeing as you've already opened #37, I'll remove the off-topic comments here.

[2015-11-11 10:25] gavanderhoorn commented on #36
Can this be closed, @13354089?

[2015-11-11 11:22] sampsonh commented on #36
why the industrial_extrinsic_calibration-indigo-devel  pkg do not contain the  cameras_to_robot and moveit_config ,when i want to do the industrial_extrinsic_tutorial,so it confuse me ,anyone who can help me ?can you give me some advice@13354089 @jrgnicho @gavanderhoorn

[2015-11-15 09:59] #36 closed

[2015-12-12 09:46] gavanderhoorn opened #38 "Dead links to MoveIt pages in 'Create a MoveIt Package for an Industrial Robot' tutorial"
The [Create a MoveIt Package for an Industrial Robot](http://wiki.ros.org/Industrial/Tutorials/Create_a_MoveIt_Pkg_for_an_Industrial_Robot) tutorial on the ROS wiki links to pages on the old MoveIt documentation site (moveit.ros.org/wiki) that no longer exists.

As there are no redirects in place, this leads to half the references on the page leading nowhere.

Tracking here as I don't have the tim

[2016-02-18 16:25] gavanderhoorn opened #39 "Create PR and issue templates"
See [Issue and Pull Request templates](https://github.com/blog/2111-issue-and-pull-request-templates).

[2016-04-25 09:43] gavanderhoorn opened #40 "Installation instructions (on ROS wiki) are outdated"
The [Industrial/Install](http://wiki.ros.org/Industrial/Install) page makes multiple references to ROS Hydro, and states it is the _latest version_.

This (these) page(s) need to be updated. Ideally they'd be rewritten to be (ROS) release independent, as far as that is possible.

[2016-04-25 09:44] gavanderhoorn commented on #40
Triggered by [ROS Jade compatible with ROS-Industrial Hydro?](http://answers.ros.org/question/232797/ros-jade-compatible-with-ros-industrial-hydro) on ROS Answers.

[2016-05-24 11:57] gavanderhoorn opened #41 "Check all xacros for compatibility with in-order processing"
From [ros/wiki/xacro - Processing Order](http://wiki.ros.org/xacro#Processing_Order):

And:

Files processed in-order and the current processing should result in identical files.

This will have to be checked for all xacros that we ship.

[2016-10-11 19:41] phvass opened #42 "Request to create new "Website" issue tag"
Request to create new "Website" issue tag

[2016-10-12 15:43] gavanderhoorn commented on #42
Done.

[2016-10-12 15:43] #42 closed

[2016-10-21 09:27] gavanderhoorn opened #43 "Make use of 'Allow edits from maintainers' feature on PRs"
This is more a note-to-self, but thought it might be good to make others aware of this.

See [Allowing changes to a pull request branch created from a fork](https://help.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork).

Would make it a lot easier to assist users solving merge conflicts fi.

[2016-11-05 11:57] gavanderhoorn opened #44 "See if Creative Commons licenses make more sense for support/description licenses"
Using licenses specifically meant for source code (BSD, Apache, etc) for creative works such as robot models is not recommended. Creative Commons licenses might provide better protection / licensing terms for such artefacts.

We should investigate whether support packages should be relicensed.

[2016-11-08 09:15] mmoerdijk opened #45 "Add a wiki page on how to get started with implementing a IRS"
I had my first experience with ROS a little more than two months ago. Having read the ROS support page [1] I got the impression that the maintainers of the ROS packages don't want to be contacted directly (Section 4.1) and assumed this was the case for the ROS-I maintainers as well.

After starting on implementing my own Industrial Robot Server and having some questions I decided to ask them on ro

[2016-11-08 19:14] shaun-edwards commented on #45
@mmoerdijk, thanks for reporting.

I'm sorry that we weren't able to help you sooner and saved you some time.  The general ROS guidelines are a little stricter than the way we run things at ROS-Industrial.  It's hard for us to change core ROS wiki pages, but we do maintain our own that I think are a more inviting (see [here](http://wiki.ros.org/Industrial/#Contact_us.2BAC8-Technical_support) and [

[2016-11-09 07:09] mmoerdijk commented on #45
@shaun-edwards  Thanks for the reply.

Yes I mean something different.  What I mean is that although there is a page on the IRC there is no specific wiki page on implementing an "industrial robot server".  I realize that there aren't so many people implementing one, but I still think that it would be good to have one. Now one has to look at the source code of multiple packages to determine how the

[2016-11-11 03:26] shaun-edwards commented on #45
Now I understand.  Since you just went through the process would you be willing to write something up?  Perhaps you could create a tutorial to help people create their own industrial robot server.  Anyone can edit the wiki pages, you just need to sign up for an account.  There's even a [tutorial](http://wiki.ros.org/WritingTutorials) on how to write a tutorial.

Documentation is always something t

[2016-11-11 21:56] mmoerdijk commented on #45
Let me see what i can do. Hope you find that funding soon though :)

[2016-11-11 21:58] mmoerdijk commented on #45
Oh did not mean to close it yet

[2017-01-25 16:44] ipa-mdl opened #46 "Docker Organization"
I would like to run automated Docker builds for the default `industrial_ci` images (https://github.com/ros-industrial/industrial_ci/pull/116).

I can setup the Docker organization ("rosindustrial", hyphens are not allowed).
Does somebody object such an organization?

For the actual build, the Github organization needs to grant access to Docker:
https://docs.docker.com/docker-hub/github/#/github-or

[2017-01-25 16:46] gavanderhoorn commented on #46
The page you link has this as one of the first notes:

[2017-01-25 16:59] ipa-mdl commented on #46
I have tested it with my repositories:
Limited acess should work as well, but the hooks need to be set-up manually.

[2017-02-09 07:51] ipa-mdl commented on #46
bump: any other opinions/comments?

[2017-02-10 17:17] gavanderhoorn commented on #40
And: [ROS-Industrial support for Kinetic](http://answers.ros.org/question/254327).

[2017-05-11 13:58] ipa-mdl commented on #46
Looks like the organization was created recently.

@JeremyZoss: Do you plan to set-up automated builds in https://github.com/ros-industrial/docker?

[2017-05-11 14:21] JeremyZoss commented on #46
@ipa-mdl: I actually have only limited visibility into the docker work.  @austinderic is currently working on docker support for us.  See his latest pull request: ros-industrial/docker#2.  Maybe Austin can chime in as to whether his work addresses this current issue?

[2017-05-11 14:23] ipa-mdl commented on #46
@JeremyZoss: I have already discovered the pull request, but thanks anyway!

[2017-08-11 08:15] gavanderhoorn commented on #46
Closing as `ros-industrial/docker` now exists.

[2017-08-11 08:15] #46 closed

[2017-08-11 08:16] gavanderhoorn commented on #43
Afaik `Allow edits from maintainers` is turned on by default for new PRs now, so no action needed on our side.

[2017-08-11 08:16] #43 closed

[2017-08-11 08:22] gavanderhoorn commented on #44
This is not high priority, but I still feel it would be nice if we could investigate this somehow.

@ipa-mirb, @minlingc: is this something you could perhaps help with?

[2017-08-11 09:06] gavanderhoorn commented on #38
Fixed in [diff&rev2=25&rev1=23](http://wiki.ros.org/action/info/Industrial/Tutorials/Create_a_MoveIt_Pkg_for_an_Industrial_Robot?action=diff&rev2=25&rev1=23).

[2017-08-11 09:06] #38 closed

[2017-08-11 09:08] gavanderhoorn commented on #37
Closing this due to inactivity.

Also: please report issues with `industrial_calibration` on the correct tracker: [ros-industrial/industrial_calibration/issues](https://github.com/ros-industrial/industrial_calibration/issues).

[2017-08-11 09:08] #37 closed

[2017-08-11 09:10] gavanderhoorn commented on #32
As an alternative to a central page on the wiki, we could migrate the information to package-specific pages and / or to the readmes of the repositories.

[2017-08-11 09:13] gavanderhoorn commented on #32
Suggestion: make a dedicated *industrial robot hw* support page and remove the other sections.

[2017-08-11 09:13] gavanderhoorn commented on #31
This is still an issue, but from the lack of activity on ros-infrastructure/roswiki#112 I don't have much hope that this will be fixed.

#32 wants to update the `support_hardware` page, so perhaps we could come up with a way to structure the page -- if we keep it in its current form -- such that we can work-around the issue.

Perhaps the table could be removed, and each supported vendor could get

[2017-08-11 09:15] gavanderhoorn commented on #30
Indigo versions of al relevant packages have long since been available.

Closing.

Other releases should be tracked in new issues.

[2017-08-11 09:15] #30 closed

[2017-08-11 09:17] gavanderhoorn commented on #26
Related: #39.

[2017-08-11 09:18] gavanderhoorn commented on #39
This could be done together with #26.

[2017-08-11 09:20] gavanderhoorn commented on #28
Motoman status: partially addressed by ros-industrial/motoman#121.

[2017-08-11 09:22] gavanderhoorn commented on #27
Status Fanuc: [gavanderhoorn/fanuc_driver_exp](https://github.com/gavanderhoorn/fanuc_driver_exp) has native support for linear axes (uses configuration data present on the controller to determine conversion factors).

[2017-08-11 09:23] gavanderhoorn commented on #27
Support added in ros-industrial/motoman#85.

[2017-08-11 09:23] gavanderhoorn commented on #27
UR controllers don't (natively) support external axes, so I'm not sure whether 'add linear axes support' makes sense for those controllers.

[2017-08-11 09:31] gavanderhoorn commented on #23
`universal_robot` pkgs seem to have regressed since ros-industrial/universal_robot#42 was merged.

[2017-08-11 09:32] gavanderhoorn commented on #23
But they also don't use the `industrial_robot_simulator` (any more?), so that's ok.

[2017-08-11 09:32] gavanderhoorn commented on #23
Issue with `motoman` configs is (partially) tracked in ros-industrial/motoman#56.

[2017-08-11 09:32] #23 closed

[2017-08-11 09:35] gavanderhoorn commented on #25
I'm not sure this is as much of an issue as I felt it is/was: the generation of 'default' acceleration limits (ie: `1/5th` of the vel limits) has been removed from the MSA quite some time ago now and no one is complaining (or they don't know they should complain).

All `fanuc` packages have warnings in the MoveIt config package manifests.

Other packages should track this in per-repository issues.

[2017-08-11 09:35] #25 closed

[2017-08-11 09:37] gavanderhoorn commented on #18
The 'new style' support packages do this by default in their `CMakeLists.txt`, but repositories like `industrial_core` (`simple_message` fi) still unconditionally configure tests.

[2017-08-11 09:44] gavanderhoorn commented on #20
Just checked all repos listed in the OP: `motoman` and `universal_robot` pkgs still haven't been fixed.

[2017-08-11 09:48] gavanderhoorn commented on #12
Closing this due to inactivity, but also because the packages listed in the OP have long since been released into the various ROS releases which would have been impossible if `install(..)` stanzas were not present.

[2017-08-11 09:48] #12 closed

[2017-08-11 09:56] gavanderhoorn commented on #6
Verified today that all packages listed in https://github.com/ros-industrial/ros_industrial_issues/issues/6#issuecomment-56278097 have a `status` key in the rosdistro database.

Other pkgs will have to track this on their own issue tracker.

[2017-08-11 09:56] gavanderhoorn commented on #6
Closing.

[2017-08-11 09:56] #6 closed

[2017-08-11 09:59] gavanderhoorn commented on #11
Status `motoman`: most (all?) support pkgs have roslaunch tests for the included launch files. No tests in the moveit config(s).

Status `universal_robot`: no roslaunch testing in any of the pkgs.

[2017-08-11 10:27] gavanderhoorn commented on #5
This has been addressed by changes to the Bloom templates and the contributions by @NikolausDemmel and @dirk-thomas and should no longer be a problem - or at least not for our released packages.

[2017-08-11 10:27] #5 closed

[2017-08-11 10:36] #3 closed

[2017-08-11 10:40] gavanderhoorn opened #47 "Harmonise labels and label colours across all repositories and orgs"
Could use a script like [this one](https://gist.github.com/mikaelarguedas/4e0b6722f245916f9cbb4ea13b54402c).

[2017-08-11 14:49] minlingc commented on #44
I will have the team look into it. Reading it briefly it does have some positive points for support packages...

[2017-08-11 15:52] gavanderhoorn commented on #44
One thing to keep in mind is that we often reuse / sub license mesh data from the manufacturer. I'm not sure how that factors in, but it's something to check.

[2017-08-14 07:44] gavanderhoorn opened #48 "wiki: "Create a Joint Position Streaming Interface [..]" tutorial needs to be updated"
.. or revised or even removed entirely.

[The page](http://wiki.ros.org/Industrial/Tutorials/create_joint_position_streaming_interface_using_tcp_socket_libraries) contains stale links, links to old external documentation and references the `dx100` package which has long since been removed / merged into others.

As it is currently one of the few pages that discuss the design of `industrial_robot_cl

[2017-08-14 07:45] gavanderhoorn commented on #48
Triggered by [where can I get dx100 package?](https://answers.ros.org/question/268746).

[2017-08-14 07:46] gavanderhoorn commented on #48
Related: #45.

[2017-08-14 15:43] shaun-edwards commented on #44
I've seen others use this. You have to be careful that absolutely no source
code is in the package.  CC licenses on source code is a red flag for
companies.   I also recommend using the most permissive CC license.

On Fri, Aug 11, 2017, 10:52 AM G.A. vd. Hoorn <notifications@github.com>
wrote:

--
Shaun Edwards

[2017-08-14 18:39] gavanderhoorn commented on #44
@shaun-edwards wrote:

I think that will not be a problem for most (all?) of our robot support packages.

[2017-11-09 14:41] zultron commented on #40
The top result for Google searches like "ROS Industrial install" and "ROS Industrial recommended release" is that wiki link pointing to Hydro, [apparently EOL][1].  It would be great to clear this up.

[1]: http://wiki.ros.org/Distributions

[2017-12-31 14:57] gavanderhoorn opened #49 "Proposal: split all (robot) drivers into separate repositories"
The suggestion is simple: instead of hosting the various (robot) drivers in the same repository as the robot support, Gazebo and MoveIt packages, split them out into their own repositories.

Rationale:

 1. **easier to support multiple driver pkgs**: as the project becomes more mature, we're seeing multiple drivers for the same platform/controller/robot, and even per-controller-generation drivers

[2017-12-31 15:00] gavanderhoorn commented on #49
Some examples for rationale 1: the various ABB drivers (EGM, plain rapid, `ros_control` based ones, `industrial_robot_client` ones), the various UR drivers (the original one (`ur_driver`), `ur_modern_driver`, proposed upgrade of `ur_modern_driver`, a now proposed customised version with no `ros_control` support (but better performance in other situations)) and multiple Fanuc drivers.

[2017-12-31 15:03] gavanderhoorn commented on #49
@shaun-edwards, @Levi-Armstrong, @jrgnicho, @JeremyZoss, @Jmeyer1292, @minlingc, @ipa-mirb, @robinsonmm: comments, ideas?

[2017-12-31 15:07] gavanderhoorn commented on #49
We had a similar discussion in ros-industrial/motoman#187 with input from @ted-miller.

@ted-miller was not in favour of splitting out the driver, arguing that it might lead users to believe that the driver is something that can be used without ROS/the other packages.

I believe we can mitigate that with proper documentation, but at least in ros-industrial/motoman#187 the conclusion was to not spl

[2017-12-31 16:31] gavanderhoorn commented on #49
And the biggest advantage would be that separate driver repositories make accepting contributions easier: instead of having to (somehow) merge an external repository, it would come down to a transfer of a repository.

[2018-01-16 14:23] ipa-mirb commented on #49
This is the point for which I would be mostly in favor of doing this. It also looks like companies starting to commit more tech development in-house to then possibly open-source it when it's ready (e.g., http://rosindustrial.org/news/2018/1/8/announcing-ros) would rather keep pkgs on their own repos.

[2018-01-16 19:16] BrettHemes commented on #49
:+1:  I support this fully, especially in regard to advantages 1 and 2.  Considering the disadvantages, none of them are deal-breakers in my mind and they all pale in comparison to the identified advantages.

The current state of the UR driver(s) alone should be enough to warrant some form of action.

[2018-01-17 19:55] 130s commented on #49
I'm not maintaining any driver package, and I'm usually in favor of aggregating packages into fewer repositories (e.g. [I just consolidated a few repos](https://discourse.ros.org/t/repository-consolidated/3695)), but the rationale provided here makes sense. I just can't stress enough that maintenance effort could blow out so maybe start from smaller sets and see (e.g. split a single manufacturer's

[2018-01-17 20:01] gavanderhoorn commented on #49
@130s: I'm not really a fan of merging repositories (I was not a fan of MoveIt doing it, but that was a rather extreme case), but I can see why in some cases it might make sense.

I believe however that in this case the additional work will be manageable -- if there is any at all -- as most of the repositories that would be split see very few releases. And the releases that are done, are typically

[2018-01-24 11:24] gavanderhoorn opened #50 "Proposal: remove rviz run dependency from robot support packages"
`rviz` is currently a `run_depend` (or `exec_depend`) of many robot support packages ([here](https://github.com/ros-industrial/fanuc/blob/21d16189c3640c7f161a56504edec4db26eb7735/fanuc_m10ia_support/package.xml#L50) for `fanuc_m10ia_support` fi). This is because of the `robot_state_visualize` launch files which start RViz to show the current robot state after having started the appropriate robot d

[2018-01-24 11:26] gavanderhoorn commented on #50
Note that we can keep the `robot_state_visualize` launch files. Not having the dependency on RViz will mean that those cannot be used until it is installed.

For new users - who may not understand why the launch file is not 'working' - this should not be a problem: they typically install either `ros-$distro-desktop` or `ros-$distro-desktop-full`, which will already have RViz installed.

[2018-01-24 11:27] gavanderhoorn commented on #50
Note also that the urdfs and meshes provided by support packages are used by MoveIt and other packages for motion planning purposes. MoveIt can be run on headless systems that don't have any of the packages that `rviz` would want to pull in installed, which is one of the motivations for this ticket.

[2018-01-24 11:49] ipa-mdl commented on #50
:+1:
I totally agree with you.

For improving the user experience we could prepare a meta-package that pull in the (visualization) packages that we excluded intentionally from support packages.
Of course, this does not make sense if it's just `rviz`.

[2018-01-24 14:43] BrettHemes commented on #50
:+1:

[2018-01-24 15:06] jrgnicho commented on #50
:+1:

[2018-01-29 21:10] stwirth commented on #50
:+1:

[2018-01-30 04:44] Levi-Armstrong commented on #50
+1

[2018-01-30 07:45] gavanderhoorn commented on #50
Thanks for the input.

Note btw that this is exactly the kind of ticket that the `+1` button on the top right was introduced for ;)

[2018-02-02 06:24] 130s commented on #50
+1 I didn't even know such kind of requirement exists.
Just curious if you could share the idea, what kind of OS/hardware do you have in mind to run the packages you mentioned?

Probably minor caveat of this is that [roslaunch_add_file_check](http://wiki.ros.org/roslaunch/#Catkin) might always fail.

[2018-02-02 09:58] gavanderhoorn commented on #50
`rviz` has been a dependency since the time the `test_*.launch` and `robot_state_visualize_*.launch` files were introduced, which was somewhere around 2013/2014.

Reasoning was that new users (which we had a lot at that time) do not always immediately understand what they should do, so making sure that all launch files worked out-of-the-box took priority over modularity and separation-of-concerns.

[2018-02-02 16:52] ipa-mdl commented on #50
Looking at the existing launch files the robot-specific part seems to be duplicated.
So we could just factor it out und test this part.

[2018-02-09 09:33] gavanderhoorn commented on #33
PR for Motoman: ros-industrial/motoman#197.

[2018-02-14 18:24] ipa-nhg-hd commented on #33
PR for industrial_robot_client: https://github.com/ros-industrial/industrial_core/pull/189

[2018-02-15 20:26] gavanderhoorn commented on #33
ABB: ros-industrial/abb#143.

[2018-03-01 10:25] ipa-nhg commented on #49
Great idea! For me, it makes total sense! :+1:

If I want to launch a robot I prefer that my workspace only contains the configuration of my robot setup (URDF, yaml files) and the launch files to start my application. A stable released version of the driver is likely installed into /opt/ros… using rosdep.

From the point of view of the maintainer: the release strategy of a driver repository (only

[2018-03-01 10:46] ipa-nhg opened #51 "Update the robots.ros.org site to list all the ROS-Industrial supported robots"
There is already a ROS-Industrial tag but the only robot linked is the abb manipulator http://robots.ros.org/tags/#ros-industrial

[2018-03-01 11:06] gavanderhoorn commented on #51
This is a good idea, but we have to decide whether we actually want to do that, or whether we want to list 'ROS-Industrial' as a supported robot, and then link to `wiki.ros.org/industrial`.

The old robots page on the wiki had this fi.

Listing individual robots would be nice, but it's also a lot of work: most of our drivers are manipulator agnostic, which leads to the question which robots should

[2018-03-04 09:22] gavanderhoorn opened #52 "Proposal: standardise joint and link naming across all robot support pkgs"
The current -- implicitly -- accepted practice is to either use the `<link_N; joint_N>` naming convention for links and joints, or use something that is closer to what the manufacturer uses. An example of the first is Fanuc, while the KUKA and Motoman packages follow manufacturer naming (`joint_aN` for KUKA and `link_A` and `joint_A` with `A <- [s, l, u, r, b, t, e]` for Motoman).

The idea behind

[2018-03-04 10:04] gavanderhoorn commented on #52
Standardising these names, together with the already standardised `base`, `flange` and `tool0` frames would remove the last bit of 'implementation detail' from the kinematic structure of a particular robot variant in robot support packages.

[2018-03-04 13:25] gavanderhoorn opened #53 "Update documentation to point to new Discourse category"
With the migration of the ROS-Industrial mailing list / Google group to the `ROS-Industrial` ROS Discourse category, all documentation and wiki pages directing users to post messages to `swri-ros-pkg-dev` needs to be updated.

I don't know of an easy way -- other than a Google search query (possibly restricted to a certain site with `site:...`) -- to find places that need to be updated.

Use this

[2018-03-04 13:26] gavanderhoorn commented on #53
Done:

 - KUKA Troubleshooting page ([here](http://wiki.ros.org/kuka_rsi_hw_interface/Troubleshooting?action=diff&rev1=3&rev2=4))
 - Fanuc Troubleshooting page ([here](http://wiki.ros.org/fanuc_driver/Troubleshooting?action=diff&rev1=33&rev2=34))

[2018-03-13 08:32] gavanderhoorn commented on #51
@ipa-nhg: thoughts?

[2018-03-13 10:01] ipa-nhg commented on #51
I see your point, too much effort and difficult to maintain.

What about a site for each robot driver(not each model)? Similar to abb http://robots.ros.org/abb-manipulators/ , where in resources we link the ROS-wiki of the driver (for fanuc: `wiki.ros.org/fanuc`) and add a link to the `wiki.ros.org/industrial` in the general description. what do you think?

In case we need to list all the supporte

[2018-03-13 10:34] ipa-nhg commented on #52
+1 for the standardization. link_n and joint_n sounds good to me.

is it also possible add a suffix or prefix? thinking on a system with two arms (right and left)...

[2018-03-13 10:38] gavanderhoorn commented on #52
@ipa-nhg wrote:

yes, of course. This proposal is just about the base name for `link`s and `joint`s. Pre- and suffxes are orthogonal to that.

See also [Coordinate Frames for Industrial Manipulators](https://github.com/gavanderhoorn/rep/blob/coord_frames_ind_robots/rep-xxxx.rst) (gavanderhoorn/rep#2) for a REP about this I will submit to `ros-infrastructure/rep`. Initially that was not going to sa

[2018-03-23 09:14] minlingc commented on #53
more..
 - [ ]  http://wiki.ros.org/industrial_core --> point 3 contact us
 - [ ]  http://wiki.ros.org/universal_robot --> point 5 contact us
 - [ ]  http://wiki.ros.org/industrial_moveit--> point 3 contact us
 - [ ]  http://wiki.ros.org/Industrial/Tutorials --> Point 1

[2018-03-23 09:59] gavanderhoorn commented on #53
I've merged your comment with the starting post @minlingc. You can actually edit it as well.

[2018-03-23 13:55] gavanderhoorn commented on #53
I've created a wiki snippet that contains the correct text that we should include in the pages that need this, instead of editing the same text over and over.

See [industrial/contact_us_tech_support](http://wiki.ros.org/industrial/contact_us_tech_support).

I've updated the `fanuc` page with it: [diff](http://wiki.ros.org/action/diff/fanuc/indigo?action=diff).

Remove the current `Contact Us / Te

[2018-04-10 18:56] gavanderhoorn commented on #53
@130s: thanks for updating the `industrial_core` page on the wiki. Could I only ask you to use the includable snippet? That way we keep phrasing consistent and can update it in one go if we ever need to.

:+1:

[2018-04-10 19:15] 130s commented on #53
Hope now it's updated properly. Nice to have such a template!

[2018-05-05 19:07] gavanderhoorn commented on #8
This is becoming less and less of an issue, with the move to build tools like `catkin_tools` and `colcon`.

Closing this.

[2018-05-05 19:07] #8 closed

[2018-05-27 09:52] gavanderhoorn commented on #52
This is going to be part of the REP linked in my previous comment.

Closing this, but if any further discussion is needed feel free to keep commenting.

[2018-05-27 09:52] #52 closed

[2018-05-27 10:04] gavanderhoorn commented on #51
My suggestion would be to find a middle ground: list all supported *brands* of industrial robots, but not the individual variants. That is probably also how people/users will be searching for 'robot support'.

That would be what we had on the old `wiki.ros.org/Robots` page (one entry per support mfg) and would not result in a lot of work. Somehow the entries we had on the `Robots` page did not sur

[2018-05-27 10:05] gavanderhoorn commented on #51
Btw: tbh I'm not too thrilled by the design of the `robots.ros.org` page. Lots of blacks and the fonts are way too big.

If any of the RIC managers has some resources available, perhaps spending a few hours helping upgrade / streamline the design a bit would be well-spent?

[2018-05-27 10:16] gavanderhoorn commented on #49
I've done some work on this and that has resulted in the following (test) repositories:

 - ~~[abb_driver](https://github.com/gavanderhoorn/abb_driver)~~
 - ~~[fanuc_driver](https://github.com/gavanderhoorn/fanuc_driver)~~
 - ~~[motoman_driver](https://github.com/gavanderhoorn/motoman_driver)~~
 - ~~[staubli_val3_driver](https://github.com/gavanderhoorn/staubli_val3_driver)~~

Not all of them were

[2018-05-27 10:18] gavanderhoorn commented on #44
I'm going to close this. This doesn't seem to be a priority -- and I don't have the time to look into this myself -- although I do believe it's wrong to use a code-centric OSS license for assets.

[2018-05-27 10:18] #44 closed

[2018-05-27 10:19] gavanderhoorn commented on #33
PR for UR: ros-industrial/universal_robot#342.

Closing this as complete as the last PR may take some time before it gets merged.

[2018-05-27 10:19] #33 closed

[2018-05-27 10:20] gavanderhoorn commented on #33
Thanks @ipa-hsd for your contributions :+1:

[2018-05-27 10:32] gavanderhoorn commented on #31
This is still an issue, but probably not something that is going to be fixed - or at least not in `roswiki`.

As suggested in https://github.com/ros-industrial/ros_industrial_issues/issues/31#issuecomment-321765100, we should probably move away from the current table-based overview and use (sub)sections. Those work much better with the version selectors at the top of the page.

Alternatively we co

[2018-05-27 11:06] gavanderhoorn commented on #20
ros-industrial/universal_robot#343 adds this to UR pkgs, so closing this as completed as merging that PR may/will take a while.

[2018-05-27 11:06] #20 closed

[2018-05-27 11:07] gavanderhoorn commented on #20
Thanks @ipa-hsd for your contributions :+1:

[2018-05-27 11:09] gavanderhoorn commented on #18
Motoman done in ros-industrial/motoman#207.

[2018-05-27 11:10] gavanderhoorn commented on #1
Most of these issues have been addressed and / or migrated, so closing this.

[2018-05-27 11:10] #1 closed

[2018-05-27 11:28] gavanderhoorn commented on #53
Updated all pages listed in the OP.

If anything else comes up, post a new issue or comment on this one.

[2018-05-27 11:28] #53 closed

[2018-05-27 14:29] mathias-luedtke commented on #18
If it is wrapped with `CATKIN_ENABLE_TESTING`, it's a test depend in package format >=2.
Just like `rosunit` etc.

[2018-05-27 14:37] mathias-luedtke commented on #49
I would prefer the `git filter-branch` approach for the target repository (in source repo, just `git rm`).
There is not much benefit in keeping the commit hashes,
If we want to try really hard, the mentioned commits could be rewritten in the commit messages:
https://github.com/Blaisorblade/git-filter-branch-msgs (first google hit)

[2018-05-28 08:31] gavanderhoorn commented on #18
@ipa-mdl: thanks for the hint, but the comment you replied to is from 2014 ;). Back then it had to stay a `build_depend`. In the meantime all / most pkgs have converted it to a `test_depend`.

[2018-05-28 08:38] gavanderhoorn commented on #18
`industrial_core` done in ros-industrial/industrial_core#171.

[2018-05-28 08:38] #18 closed

[2018-05-31 11:02] ipa-nhg commented on #49
+1 for `git filter-branch`. That the new `*_driver` contains the history of the other packages, that still exist but in a different repo, is weird...

About the variants, I would also preffer the `abb_driver` approach. @gavanderhoorn please correct me if I am wrong, but it is the only one that keeps the branches. For me it is also important that we keep the travis configuration and the LICENSE fil

[2018-05-31 11:08] ipa-nhg commented on #51
Yes! I can do that, update the wiki.ros.org/Robots site to list the supported brands.

[2018-05-31 12:07] gavanderhoorn commented on #49
`abb_driver` is the only one that currently has everything 'migrated'. I didn't bother to do that for all the others.

[2018-06-02 20:06] mathias-luedtke opened #54 "Travis integration broken?"
At least for `industrial_ci` and `ros_canopen` the travis jobs get triggered, but Github does not show the status anymore.

[2018-06-03 07:08] gavanderhoorn commented on #54
I'd updated some security settings for ros-industrial/docker#14. Apparently Travis was making use of the fact that we previously didn't have those settings enabled.

Should be fixed now.

[2018-06-03 09:40] mathias-luedtke commented on #54
I have supposed something like this..
Works again, thanks!

[2018-06-03 09:40] #54 closed, assigned to nobody

[2018-06-03 11:00] gavanderhoorn commented on #54
Must say I'm not a fan of Travis needing so much access to 'all' of our stuff though. But that is apparently something Github needs to fix.

[2018-06-03 11:15] mathias-luedtke commented on #54
With the new Github Apps integration access can be granted for each repository.
At least for user repositories.

[2018-06-19 10:41] gavanderhoorn commented on #51
@ipa-nhg: have you had a chance to look into this?

This might be a good task for WRID (acronym I just made up for World ROS-I Day).

[2018-06-20 11:03] ipa-nhg commented on #51
unfortunately I didn't have time. :confused:

Thanks for the proposal, I think also that this is a good task for the WRID.
I would like also to check the online material that we have about supported hardware and status of the software and unify the documentation.

Hardware support docu:
- I also found this site http://wiki.ros.org/Industrial/supported_hardware ( the redirect link from https://rosi

[2018-06-20 12:28] gavanderhoorn commented on #51
Could I ask you to please open a new issue for the other points you raise? Let's not turn this into a forum thread.

---

Edit:

that's not possible. Or at least, not without editing the javascript behind that page.

[2018-06-22 11:01] ipa-nhg opened #55 "Document the status of the software (maintenance, ci builds, distro support..)"
We can create a common file as overview of the status of all the ROS-I repos, similar to this template:
 https://github.com/ipa320/cob_robots/blob/indigo_dev/README.md

Also can be part of each repo README.md

[2018-06-22 11:01] ipa-nhg commented on #55
issues related to the https://github.com/ros-industrial/ros_industrial_issues/issues/51#issuecomment-398731310 discussion

[2018-06-25 13:46] gavanderhoorn commented on #27
ABB got partial support (only for integrated axes) in ros-industrial/abb#150.

[2018-06-25 15:49] gavanderhoorn commented on #55
Suggestion: add this as a section to existing readmes.

One file per organisation (ie: `ros-industrial`) would be nice, but could suffer from reduced visibility (which repository is going to host it?).

[2018-06-26 11:27] dhled commented on #41
@ipa-nhg You can assign this to me.

[2018-06-27 13:52] hsd-dev commented on #28
@ipa-nhg can you assign this to me?

[2018-07-06 17:11] AustinDeric commented on #55
yes, i was going to suggest this as well!  Each README needs at least a travis build badge.

**We also need to turn on cron jobs in travis** because i restarted a few repos that i still have access to and they recently failed due to dependency issues: https://travis-ci.org/ros-industrial-consortium/godel

It would also be great to have a single page (possibly this one?) to get a quick overview as

[2018-07-11 09:22] dhled commented on #41
Checked for motoman, abb, fanuc and universal_robot. Everything is similar with or without --inorder.

I used the linked python script to check them all.

[urdf_diff.txt](https://github.com/ros-industrial/ros_industrial_issues/files/2183819/urdf_diff.txt)

[2018-07-11 09:35] ipa-nhg commented on #41
Thanks @ipa-led
The issue can be closed! :+1:

[2018-07-11 09:35] #41 closed

[2018-07-11 10:10] ipa-nhg commented on #40
Added versions tags http://wiki.ros.org/Industrial/Install, not sure if it is efficient but is the way to support several distros instructions.

Probably make more sense create some set of released packages (metapackages) to install, for example, all supported robots using:

`sudo apt-get install ros-$ROS_DISTRO-industrial-robots`

[2018-07-11 12:11] ipa-nhg commented on #31
Solved see http://wiki.ros.org/Industrial/supported_hardware
:+1: thank @ipa-led

[2018-07-11 12:11] #31 closed

[2018-07-11 12:25] ipa-nhg commented on #51
PRs open for fanuc, UR and Motoman:

https://github.com/ros-infrastructure/robots.ros.org/pull/153
https://github.com/ros-infrastructure/robots.ros.org/pull/152
https://github.com/ros-infrastructure/robots.ros.org/pull/151

[2018-07-11 13:30] ipa-nhg commented on #11
For motoman looks like it is already done.

For universal_robot: https://github.com/ros-industrial/universal_robot/pull/362

[2018-07-11 16:26] ipa-nhg commented on #55
Done for all the repos with  travis configuration:

- abb_librws: https://github.com/ros-industrial/abb_librws/pull/15
- abb_begm: https://github.com/ros-industrial/abb_libegm/pull/12
- abb_experimental: https://github.com/ros-industrial/abb_experimental/pull/100
- abb: https://github.com/ros-industrial/abb/pull/152
- industrial_calibration: https://github.com/ros-industrial/industrial_calibration

[2018-07-11 16:38] mathias-luedtke commented on #55
IMHO all READMEs should state (for each branch!):
* which distro is supported (e.g. jade is now EOL)
* link travis jobs
* link buildfarm jobs

A consolidated overview of all repositories would be great.

In `ros_canopen` I manage stable branches (e.g. `kinetic` and `lunar`, point to last released version) and development branches (e.g. `kinetic-devel`).

[2018-07-11 17:39] robinsonmm commented on #34
Yes the page it even references has a different description.

[2018-07-11 17:48] robinsonmm commented on #34
I have updated Wikipedia. Please review.

[2018-07-12 01:36] tfoote commented on #26
I've opened PRs to add or update CONTRIBUTING.md to all the repos that have been recently touched.

[2018-07-12 20:44] tfoote commented on #26
A good suggestion that this should be generally updated to mention the new Github review process: https://github.com/ros-industrial/abb/pull/153#pullrequestreview-136511382

[2018-07-12 20:48] tfoote commented on #26
The content I submitted was: https://gist.github.com/tfoote/9f38576e148c82f86aa7e6871104a77f

It's a markdown version of https://rosindustrial.org/developmentprocess/

I'm not going to have time to follow up on most of these after wrid18.

[2018-07-16 16:35] gavanderhoorn commented on #26
everyone in ROS-I: could you hold off on merging the PRs submitted by @tfoote? As commented in https://github.com/ros-industrial/abb/pull/153#pullrequestreview-136511382, the PRs are based on the `Development Process` page, but that hasn't been updated to use the 'new' Github review system.

[2018-07-17 10:23] ipa-nhg commented on #51
Merged https://robots.ros.org/tags/#ros-industrial

[2018-07-17 10:23] #51 closed

[2018-07-26 11:59] ipa-nhg commented on #55
@ipa-mdl I am agree with your comment, the main problem is that not all the repos are following this  rule for the branches.

At least I would like to have a consensus about the template, use it (that will imply update it) or not should be a decision of the repository maintainers.  I updated my previous version for ros_canopen as template https://github.com/ipa-nhg/ros_canopen/blob/UnifyReadme/REA

[2018-07-26 12:13] gavanderhoorn commented on #55
My 2 cents: the currently suggested content comes across as chaotic. That is not necessarily a problem with the content, but seems to be more a result of the limitations of the various markup formats used in the readmes. Markdown just doesn't really support showing this in a nice way, unless we want to go into embedding raw html.

I'm still not entirely convinced that listing all of this informati

[2018-07-26 14:16] ipa-nhg commented on #55
For the individual READMES, lets keep open the discussion about the format. Probably @ipa-mdl will propose a nice alternative soon....

For everything, I can imagine the following options to host the overview:

- ROS Wiki
- The README file of a "general" repo maybe make sense in industrial_metapackages (use it for a general vision of the ROS-I software) or rename and use this ros_industrial_issues

[2018-07-29 13:25] gavanderhoorn commented on #11
Done with the merge of ros-industrial/universal_robot#362.

[2018-07-29 13:25] #11 closed, assigned to ipa-nhg, dhled

[2018-07-29 13:29] gavanderhoorn commented on #34
And as I expected: @robinsonmm's changes were reverted by a Wikipedia editor: [Robot_Operating_System&type=revision&diff=849848080&oldid=849834783](https://en.wikipedia.org/w/index.php?title=Robot_Operating_System&type=revision&diff=849848080&oldid=849834783). Nice that the comment included also adds:

The [current version of the page](https://en.wikipedia.org/wiki/Robot_Operating_System#ROS-Indus

[2018-07-29 13:32] gavanderhoorn commented on #31
[diff](http://wiki.ros.org/action/info/Industrial/supported_hardware?action=diff&rev2=26&rev1=24).

[2018-07-29 17:44] shaun-edwards commented on #26
I'm inclined to accept the PRs as is.  The steps are in spirit of Github AND having a CONTRIBUTING file is better than not having it.  It looks like @Levi-Armstrong has already moved forward with @tfoote's version.

[2018-07-29 20:42] gavanderhoorn commented on #26
Yes, but we've also received comments by community members (such as those in https://github.com/ros-industrial/abb/pull/153#pullrequestreview-136511382) that are valid.

And I don't necessarily agree that having a `CONTRIBUTING.md` is better than not having one: having a process is important. The file itself is not.

[2018-07-29 21:04] mathias-luedtke commented on #26
It might have been better to agree one a consolidated version beforehand in a **central** place.
(Same story as with #55)

We could discuss an improved version now, however not spread in 20+ PRs.
I would suggest to open one PR in a (to be created?) repository with common templates etc.
After a reasonable amount of time (2 weeks?) we could update the other PRs based on this new template.

[2018-07-31 13:55] tfoote commented on #26
A draft was precirculated in the wrid2018 IRC prior to posting. But no one caught that the last paragraph was out of date.
Note that the file itself is somewhat important as Github uses it in it's user interaction prompts which will help new and learning contributors.

[2018-08-07 19:34] gavanderhoorn commented on #26
@ipa-mdl wrote:

Would that be something you would be willing to do @ipa-mdl?

I can create the repository for you.

[2018-08-09 14:32] ipa-nhg opened #56 "Migrate the package.xml files to format 2"
(or make more sense wait and migrate to format 3 directly http://www.ros.org/reps/rep-0149.html ?)

Lists of packages to be migrated:

- abb_experimental (ros-industrial/abb_experimental#115)
    - [x] abb_irb7600_support
    - [x] abb_ irb4600_support
    - [x] abb_irb1200_support
    - [x] abb_irb52_support
    - [x] abb_irb6650s_support
- industrial_core (ros-industrial/industrial_core#232)

[2018-08-09 14:34] ipa-nhg opened #57 "Add license information badges to readme files"
see https://github.com/ros-industrial/fanuc/pull/244

[2018-08-11 05:44] gavanderhoorn commented on #34
ping @robinsonmm?

[2018-08-11 05:46] gavanderhoorn commented on #56
I think first getting everything to version 2 would be better. Changes to get to 3 are minimal, especially with the packages that we have: we don't have dependency groups, don't release into ROS2 (yet) and the ABI spec is nice, but not something of immediate concern.

[2018-08-11 05:46] gavanderhoorn commented on #56
@ipa-nhg: could you perhaps update the issue with a list of pkgs that need to be updated?

[2018-08-14 04:12] robinsonmm commented on #34
I read it, it is an improvement. We do not want to be accused of plagiarizing ourselves after all.

[2018-08-14 07:19] gavanderhoorn commented on #34
Ok, let's close this one then as resolved for now.

[2018-08-14 07:19] #34 closed

[2018-08-14 07:19] gavanderhoorn commented on #34
Thanks for the 'review' @robinsonmm :+1:

And your work of course .. although it got reverted ..

[2018-08-14 14:13] gavanderhoorn commented on #57
Example:

![sshot](https://user-images.githubusercontent.com/4550046/44096957-e505dd6c-9fdc-11e8-8777-8e21c94e83b5.png)

[2018-08-23 11:31] ipa-nhg commented on #56
Lists of packages to be migrated:

- industrial_core
    - [ ] industrial_msgs
    - [ ] industrial_core
    - [ ] industrial_utils
    - [ ] industrial_deprecated
    - [ ] simple_message
    - [ ] industrial_robot_client
    - [ ] industrial_trajectory_filters
- universal_robot
    - [ ] ur_description
    - [ ] ur3_moveit_config
    - [ ] ur_msgs
    - [ ] ur_bringup
    - [ ] universal_robot

[2018-08-23 12:22] gavanderhoorn commented on #56
@ipa-nhg: thanks for the list.

For future reference: what command(s) did you use to find these packages?

[2018-08-23 12:24] gavanderhoorn commented on #57
Automatically crawling for licenses in ROS workspace / environment could be done perhaps using https://github.com/ros-infrastructure/rospkg/pull/143.

[2018-08-23 12:39] ipa-nhg commented on #56
I create a .rosinstall file with all the ros-industrial repos which contains ros packages, cloned from the rosinstall file and commanded:
`grep -R "<package>"`

I think will be useful push somewhere the rosinstall file (the industrial_metapackages repo could be an option or just create a new one industrial_basics? industrial_helper? industrial_helper_tools? ), also we can work on some basic bash s

[2018-09-06 11:57] ipa-nhg opened #58 "Create new repository to hold templates and helper scripts"
It would be great if we have a central (non-ros code) repository to hold templates for generic documentation, scripts to generate this documentation, rosinstall files....

Some related discussions:
- https://github.com/ros-industrial/ros_industrial_issues/issues/26#issuecomment-408705825
- https://github.com/ros-industrial/ros_industrial_issues/issues/56#issuecomment-415399720
- https://github.com

[2018-09-06 12:40] gavanderhoorn commented on #58
I would actually suggest to create multiple repositories, each with a name that clearly identifies what it stores.

That way we don't have to come up with a generic name ("helper") and it's obvious what goes where.

As to the specific issues linked:

 - #57 is linked because of the "license crawler", correct? We could leverage https://github.com/ros-infrastructure/rospkg/pull/143 for the actual cr

[2018-09-29 07:26] gavanderhoorn commented on #40
The changes made during WRID seem to cause some confusion, see https://github.com/ros-industrial/universal_robot/issues/385.

Using `ROS_DISTRO` macro everywhere might not work on that page.

[2018-12-17 06:49] Levi-Armstrong commented on #58
@gavanderhoorn I have modifying the moveit_ci to be a little more generic to support the ros-industrial repositories which uses travis-ci directly instead of industrial-ci. Would you recommend creating a repository for this. It currently only two files [1](https://github.com/Levi-Armstrong/tesseract-1/blob/removeIndustrialCI/.travis_utils.sh) [2](https://github.com/Levi-Armstrong/tesseract-1/blob/

[2018-12-17 07:52] gavanderhoorn commented on #58
Can you provide a little more background as to what your motivation was? Would it not have been possible to make changes to `industrial_ci` instead of creating yet another variant of `industrial_ci` (which `moveit_ci` sort-of is)?

We might want to avoid duplication of effort here, as this would be the third repository/set of scripts that would need to be maintained.

[2018-12-17 10:47] 130s commented on #57
Although I've been happily using https://github.com/ros-infrastructure/rospkg/pull/143 (and its depended PR https://github.com/ros-infrastructure/rospkg/pull/133) in the internal repos for months, they aren't merged yet so need some setup. I'm happy to help if that's desired.

[2018-12-18 17:50] robinsonmm opened #59 "Packages for Melodic Migration"
Proposed list for Packages to be Migrated to Melodic

Name - Status

- [x]  Industrial Core
     - [x]  PR Submitted
     - [x]  PR Merged
     - [x]  Release
- [ ]  Industrial Calibration - Working Code
     - [x]  PR Submitted
     - [x]  PR Merged
     - [ ]  Release
- [x]  ros_qtc_plugin - Done
     - [x]  PR Submitted
     - [x]  PR Merged
     - [x]  Release
- [ ]  Basler/Astra/RealSense - n

[2018-12-18 19:27] jrgnicho commented on #59
The robot drivers might be a bit difficult to validate but this looks like a manageable set of repos to migrate.

[2018-12-18 21:13] gavanderhoorn commented on #57
@130s: thanks for the offer.

are there any really involved steps, or would it "just" be a matter of merging the PR locally?

[2018-12-19 04:20] robinsonmm commented on #59
Agreed. We have access to Universal, Yaskawa, ABB, and a Fanuc, though maybe not the best candidate. We also have a Kuka iiwa in house as well, and a working updated driver that should work for both Kinetic and Melodic.

We will rely on community testing and submission of issues should problems arise for any additional or as problems arise for the variants of the makes (vintage and model).

[2019-01-01 04:19] 130s commented on #57
I'd say it depends on the platform.
- Where dependency is only minimally installed, it usually needs some adhoc setting due to https://github.com/ros-infrastructure/rospkg/issues/142.
  - In my experience this is the case for CI where I want to use base Docker image where dependency is only sparsely pre-installed.
- If dependency is well-installed, you may use the PR as is.
  - Without even mergin

[2019-02-08 18:23] robinsonmm commented on #59
@gavanderhoorn @Levi-Armstrong has a release pending your review I believe on ros-i core.

[2019-02-14 15:46] Levi-Armstrong opened #60 "Should we add Probot/Stale to the ros-industrial organization?"
I am interested in adding this to several of the repositories that I maintain but wanted to reach out and see if it was ok to add this service to the organization. It does not force every repository to use it, only the ones that add a particular file to the repository similar to travis ci.

[2019-02-14 15:47] Levi-Armstrong commented on #60
Here is the link: https://probot.github.io/apps/stale/

[2019-02-14 16:17] gavanderhoorn commented on #60
It depends a bit on the permissions the app needs.

Personally I'm not a fan of allowing blanket access to all org data for apps, and some do ask quite a bit of access for no apparent reason.

[2019-02-14 18:53] Levi-Armstrong commented on #60
I should of looked deeper but you can add it to individual repositories. The two permissions below are the only ones it requests.

- Read access to metadata and single file
- Read and write access to issues and pull requests

[2019-02-14 18:55] Levi-Armstrong commented on #60
Is it OK if I add it to the trajopt, tesseract, and ros_qtc_plugin repository?

[2019-02-15 11:03] gavanderhoorn commented on #60
If you're comfortable with that level of access, then sure, go ahead.

---

Edit: I haven't seen apps that can be added to single repositories of organisations though. They're typically added org-wide, then *enabled* for specific repositories.

[2019-02-15 22:02] Levi-Armstrong commented on #60
This is what it shows me. It not very clear.

![image](https://user-images.githubusercontent.com/9803128/52886734-dc930e80-313a-11e9-86e0-14aa2cd45867.png)

[2019-02-17 10:51] gavanderhoorn commented on #60
yes, that looks like you add it to the organisation and then activate/configure it for specific repositories.

That would be similar to what I've seen with other "apps" (like Travis).

Not sure there is anything that can be done about that though, short of integrating them manually (which for some reason is considered inefficient and is made rather difficult).

[2019-02-19 13:05] Levi-Armstrong commented on #60
Oh, Is there any issue with the permission that have to be granted?

[2019-02-25 08:37] gavanderhoorn commented on #60
No, they're probably fine.

[2019-03-27 02:34] Levi-Armstrong opened #61 "Preferred repository structure supporting ros and ros2?"
We are in the process of converting several package to support both ros and ros2. In some of the repositories a large portion of the code can easly be made to build for ros and ros2, example shown [here](https://github.com/Levi-Armstrong/tesseract-1/blob/feature/ros2/tesseract_collision/CMakeLists.txt). For other packages that leverage action, services, topics it becomes messy with a lot of #ifdef

[2019-03-27 02:35] Levi-Armstrong commented on #61
@gavanderhoorn

[2019-06-18 14:34] gavanderhoorn commented on #61
Discussion took place here: [ROS2 Transition Strategy](https://discourse.ros.org/t/ros2-transition-strategy/9154).

[2019-06-19 12:21] hsd-dev commented on #32
This seems to be an updated list: https://robots.ros.org/tags/#industrial
Is this page this still relevant? http://wiki.ros.org/action/fullsearch/Industrial/supported_hardware
Or can they be merged?

[2019-06-19 13:51] gavanderhoorn commented on #32
that's a page dependent on community contributions and as such lists robots for which community members thought the tag `industrial` would fit.

It does not reflect the status of supported hw "within ros-industrial".

That page specifically documents the compatibility of specific robot & controllers with industrial_robot_client and/or their drivers. There are a few other sections on the page, but

[2019-06-28 14:31] ipa-nhg opened #62 "Update ROSindustrial.org/about/press"
https://rosindustrial.org/about/press

[2019-06-28 15:31] robinsonmm commented on #32
I had a request from KEBA to be added to the supported_hardware page.... since they are now offering a controller that works on Hiwin and Comau robots... we could include others that offer nominal and advertised ROS interfaces.

We could seek to add Kawasaki, Epson, Staubli, and Pilz, etc...

I agree I would like it to contain the same info as the existing table, and nominally have engagement/supp

[2019-06-28 16:52] gavanderhoorn commented on #32
I'm not sure I would do this: the pages under `wiki/Industrial` specifically document the state of "our" packages.

None of the OEMs you list there are supported "by us".

If they have ROS interfaces available those should be listed / advertised on pages outside `wiki/Industrial` I feel.

[2019-06-28 19:40] robinsonmm commented on #32
Thanks for clarifying the intent regarding "our" packages. Ok, I think it is good to point those promotional opportunities for those companies.

[2019-06-29 14:21] gavanderhoorn commented on #61
I'm closing this as the discussion took place somewhere else and we're not expecting any further discussion here.

[2019-06-29 14:21] #61 closed, assigned to nobody

[2019-06-29 14:24] gavanderhoorn commented on #60
Closing as it seems we've reached a conclusion.

@Levi-Armstrong: I'm not seeing any additional integrations. Did you end up installing Probot or Stale?

[2019-06-29 14:24] #60 closed, assigned to nobody

[2019-06-29 14:27] gavanderhoorn commented on #26
Unassigning @tfoote as it's no longer his task.

Thanks @tfoote for all the PRs.

We'll need to take a good look at this during wrid19, so marking this issue as one for that day.

[2019-06-29 14:28] gavanderhoorn commented on #16
Seeing as we're trying to move away from hosting vendor repositories on `ros-industrial`, I'm closing this.

If/when interest in something like this returns, we can re-open.

[2019-06-29 14:28] #16 closed

[2019-06-29 14:28] gavanderhoorn commented on #16
None-the-less: thanks for the initial work on this @shaun-edwards.

[2019-06-29 14:29] gavanderhoorn commented on #27
URs don't integrate external axes as other robots do, so there will most likely always be a need for some custom code. Taking UR off the list because of that.

[2019-06-29 14:31] gavanderhoorn commented on #27
Closing this in the end, as it's being tracked by issues in the individual repositories and with the small nr of drivers that we're still supporting not a general issue of policy I believe.

[2019-06-29 14:31] #27 closed

[2019-06-29 14:32] gavanderhoorn commented on #32
The pages would still need some cleaning up and/or updating, so I'll still mark this as a WRID19 issue.

It'll probably have to be one of us (RIC-NA, RIC-EU, RIC-APAC) that takes this one though.

[2019-06-29 14:34] gavanderhoorn commented on #56
For anyone that wants to work on this during wrid19: please coordinate and announce the repository/packages that you're going to work on just so we can avoid duplication of effort.

[2019-06-29 14:36] gavanderhoorn commented on #57
This issue currently lacks an overview of the specific repositories that we'd like to add these badges too. That would first need to be added.

[2019-06-29 15:39] robinsonmm commented on #32
+1

On Sat, Jun 29, 2019, 9:32 AM G.A. vd. Hoorn <notifications@github.com>
wrote:

[2019-07-02 07:48] dejaniraai commented on #56
I will start with the industrial_core packages

[2019-07-02 08:23] hsd-dev commented on #57
https://github.com/ros-industrial/universal_robot/pull/436
https://github.com/ros-industrial/abb/pull/170
https://github.com/ros-industrial/motoman/pull/281
https://github.com/ros-industrial/industrial_ci/pull/391
https://github.com/ros-industrial/ros_canopen/pull/340
https://github.com/ros-industrial/robotiq/pull/156
https://github.com/ros-industrial/industrial_moveit/pull/95
https://github.com/r

[2019-07-02 09:29] dejaniraai commented on #56
I have made a PR for this package. I will move this issue back to the unassigned so that someone can deal with the other packages.

[2019-07-02 09:39] ipa-thz commented on #62
@robinsonmm:
I re-ordered the PRESS articles by years and kept the alphabetical order within the years.
The newest articles were from 2017, so I added 4 articles for 2018 and 2019, but we should add a lot more here.

[2019-07-02 09:40] gavanderhoorn commented on #62
Seeing as there is no PR for this: @robinsonmm: could you review this and close the issue once we're all happy with it?

[2019-07-02 11:53] ipa-thz opened #63 "Update https://rosindustrial.org/about/publications"
with latest publications

[2019-07-02 12:14] fmauch commented on #56
I'll start working on universal_robot

[2019-07-02 15:00] Fern-and-dough commented on #56
I'll start working on abb_experimental

[2019-07-02 15:01] dhled commented on #56
@ipa-nhg robotiq packages have through re-factoring. All package.xml have been updated to version 2 for kinetic devel.

[2019-07-02 15:07] gavanderhoorn commented on #56
@ipa-led: I've updated the OP.

[2019-07-02 15:38] gavanderhoorn commented on #57
Thanks for the many PRs @ipa-hsd.

[2019-07-02 15:38] gavanderhoorn commented on #57
I've unassigned you for now.

[2019-07-02 16:16] Fern-and-dough commented on #56
Working on Staubli as well

[2019-07-02 16:47] robinsonmm commented on #62
I think this is a great start, and should we track down more, I for one am happy to keep adding! Closed.

[2019-07-02 16:47] #62 closed, assigned to ipa-thz

[2019-07-04 08:41] gavanderhoorn commented on #63
@ipa-thz: who would you like to review this?

As there is no PR, the review would consist of checking the page itself, of course.

Perhaps @robinsonmm?

[2019-07-09 14:01] gavanderhoorn commented on #63
@ipa-thz: was this reviewed? If it was: closing the issue moves it to `completed` automatically. If it wasn't, we should move it back to `under review`.

[2019-07-09 14:50] gavanderhoorn commented on #56
I've updated the OP to show the current state of things and unassigned the issue itself.

Thanks @wahlent, @fmauch, @dejaniraai, @Fern-and-dough and @trentwall for working on this and contributing your PRs! :+1:

[2019-07-09 15:03] robinsonmm commented on #63
I checked it out. Looked good!

[2019-07-09 15:05] gavanderhoorn commented on #63
If it's good enough then please close the issue so the task gets moved to `completed`.

[2019-07-10 20:37] robinsonmm commented on #63
Yes, @ipa-thz will have to hit the close button. It is not available to me.

[2019-07-10 21:26] #63 closed, assigned to ipa-thz

[2019-07-11 07:33] gavanderhoorn commented on #63
Thanks @jrgnicho.

And thanks @robinsonmm for the review.

[2019-07-14 09:22] gavanderhoorn opened #64 "WRID19 wrap-up"
Wrap-up of WRID19:

 - [ ] 1. review items in the [under review](https://github.com/orgs/ros-industrial/projects/3#column-5781462) column
 - [ ] 2. determine status of work for items in the [in progress](https://github.com/orgs/ros-industrial/projects/3#column-5781461) column
 - [x] 3. remove `wrid19` label from items in the [unassigned](https://github.com/orgs/ros-industrial/projects/3#column-578

[2019-07-14 09:26] gavanderhoorn commented on #64
@ipa-nhg @ipa-hsd @ipa-led @ipa-mdl @ipa-thz
@Levi-Armstrong @robinsonmm @jrgnicho @JeremyZoss
@dejaniraai

I've got a script ready that will automatically take care of `3` (ie: remove the label from unassigned items).

I plan to run this script on Tuesday (16th) @ 10am CEST.

If you don't want items (ie: issues and PRs) in your repositories to be included in that run, let me know before that time

[2019-07-14 09:43] mathias-luedtke commented on #64
:+1:  for clean-up.

The [unassigned](https://github.com/orgs/ros-industrial/projects/3#column-5781459) column contains a number of PRs that are actually waiting to be reviewed.
So the ToDo list should better start with "review items in the unassigned column".

[2019-07-14 09:48] gavanderhoorn commented on #64
not sure I understand.

I plan to remove the `wrid19` label from both PRs and issues that are currently in the `unassigned` column. If there are PRs that were submitted as part of WRID19, they should not be in the `unassigned` column, but in the `under review` column.

If WRID19 PRs are in `unassigned` that would be something to correct.

[2019-07-14 09:54] mathias-luedtke commented on #64
That's what I meant.
Currently, this column contains 13 PRs.
At least the ones that were opened/updated during WRID19 should be moved.

(I will check  the label assignments in industrial_ci and ros_canopen)

[2019-07-17 18:01] gavanderhoorn commented on #64
Slightly delayed, but I've ran the script to remove the `wrid19` label from items in `unassigned` (task 3).

[2019-08-26 11:29] gavanderhoorn commented on #58
Somewhat later: I've created [ros-industrial/wrid_scripts](https://github.com/ros-industrial/wrid_scripts) to store the script(s) used during last WRID.

[2019-10-05 13:37] gavanderhoorn opened #65 "Migrate to Travis.com"
Travis has been migrating to Github Apps integration for quite some time now. See [Beta - Migrating repositories to travis-ci.com](https://docs.travis-ci.com/user/migrate/open-source-repository-migration) for some info on this.

I recently received an email that I could start migrating "my" repositories to the Apps integration.

Github has slightly nicer integration with Travis through the Apps in

[2019-10-08 18:44] gavanderhoorn commented on #65
If there are no comments by 2019-10-14 EoB (CEST) I'll start/proceed with the migration.

[2019-10-09 00:36] dejaniraai commented on #65
Hi @gavanderhoorn, if there are no downsides to this migration, and if the Github Apps CI tool seems to be what will be supported in the future, then I don't see any issue with starting the migration.

[2019-10-14 09:36] gavanderhoorn commented on #65
I've migrated a nr of repositories already.

@ipa-mdl: I'm about to migrate `industrial_ci` and `ros_canopen`.

Would you want me to hold off on that, or should I go ahead. It's literally no more involved than clicking a few buttons.

[2019-10-14 10:18] mathias-luedtke commented on #65
Go ahead :)

[2019-10-14 13:39] gavanderhoorn commented on #65
Should be all done.

[2019-10-14 13:48] gavanderhoorn commented on #65
All repositories on `ros-industrial` that had `travis-ci.org` integration have been migrated.

[2019-10-14 14:07] mathias-luedtke commented on #65
:+1:
Next step: update all ReadMe files to point to the new site and icons.

[2019-10-14 14:09] gavanderhoorn commented on #65
Yes, indeed.

Did you just volunteer for that ? ;)

[2019-10-14 14:32] gavanderhoorn commented on #65
And also done ;)

[2019-10-15 15:09] jrgnicho commented on #65
@gavanderhoorn thanks for all the work on this

[2019-10-17 11:25] hsd-dev commented on #56
https://github.com/ros-industrial/stomp_ros already has format 2 for the `melodic-devel` branch

[2019-10-17 12:06] hsd-dev commented on #56
https://github.com/ros-industrial/industrial_moveit/pull/102
https://github.com/ros-industrial/motoman_experimental/pull/47
https://github.com/ros-industrial/staubli_experimental/pull/40

[2019-11-23 10:21] gavanderhoorn opened #66 "Migration to ur_robot_driver & deprecation of ur_modern_driver"
Meta-issue for the migration to `ur_robot_driver` and the deprecation of `ur_modern_driver`.

[2020-01-16 17:33] gavanderhoorn commented on #49
I've gone ahead with this and extracted `staubli_val3_driver` from `staubli_experimental`. New location: [ros-industrial/staubli_val3_driver](https://github.com/ros-industrial/staubli_val3_driver).

Reason I started with this driver first is some incoming PRs in the near future and as there has been relatively little development of this package (and thus no complicated history), extracting it was

[2020-01-25 10:26] gavanderhoorn opened #67 "Increase minimum CMake version to allow builds on Focal Fossa (Noetic)"
See ros/catkin#1052.

[2020-02-27 16:46] gavanderhoorn commented on #50
Coming back to this: https://github.com/ros/joint_state_publisher/pull/31 has given this new priority, as UI infrastructure was being pulled in by `joint_state_publisher` anyway, so having `rviz` as a dependency was not really a problem.

Now that the JSP has been fixed, the only dependency pulling in 800MB+ of UI infrastructure when installing a support package on an otherwise bare system is `rvi

[2020-04-06 14:35] gavanderhoorn commented on #49
Started with `ros-industrial/abb` in ros-industrial/abb#179.

[2020-04-25 15:51] gavanderhoorn commented on #49
`abb_driver` has been migrated: ros-industrial/abb#180.

[2020-06-06 12:57] gavanderhoorn opened #68 "Investigate use of .zae for pkgs with Collada meshes"
As per subject.

Assimp 5 supports loading `.zae`, which is the compressed version of Collada.

Afaict, "only" zip compression is supported, but this could already save up to 90% on some meshes. As Collada is a popular mesh format for robot support packages which include more detailed meshes.

Ubuntu Focal comes with Assimp `5.0.1`, so it could be interesting to see whether this would allow us to

[2020-06-07 13:39] traversaro commented on #68
I do not know how many ROS-Industrial robots model are expected to be used with Gazebo, but given that Gazebo use its own Collada-parser instead of Assimp, note that probably any model that uses `.zae` will not be able to be loaded in Gazebo.

[2020-06-07 15:51] gavanderhoorn commented on #68
I would almost say "that's too bad for Gazebo then, they shouldn't have used a custom parser", as that is exactly why you shouldn't do that. It essentially means that Gazebo doesn't properly support Collada `1.5`.

But of course, I can't say that.

So we'll have to take this into account.

I'm not closing this immediately as I'll see what the status of Collada support is in Gazebo.

[2020-07-01 12:07] ipa-nhg commented on #66
@gavanderhoorn what is the status of this issue? A more generic question, from your point of view what should we do with the pending issues and PRs of the deprecated repository `ur_modern_driver`?

[2020-07-01 12:11] ipa-nhg commented on #56
seems to be completed, can this issue be closed?

[2020-07-01 12:25] gavanderhoorn commented on #56
If all referenced PRs have been merged, then yes, it would seem this can be closed.

Thanks for the reminder.

[2020-07-01 12:31] gavanderhoorn commented on #66
I was sure I had a list of things to do and I had added that list here, but I can't find it any more.

`ur_driver` and `ur_modern_driver` have been marked as EOL and deprecated, both in their manifests as well as the wiki. The old tutorial ([this one](http://wiki.ros.org/universal_robot/Tutorials/Getting%20Started%20with%20a%20Universal%20Robot%20and%20ROS-Industrial)) has been marked as obsolete

[2020-07-01 12:33] gavanderhoorn commented on #66
We should address them as far as resources are available and we can replicate them.

CB1 and CB2 users cannot use `ur_robot_driver`, as it requires a CB3 (RTDE is needed). So from all the drivers in `ros-industrial`, `ur_modern_driver` is the only option for anything `<` CB3.

[2020-07-01 12:35] gavanderhoorn commented on #66
As to whether this issue has been sufficiently addressed, I'm not sure.

I would probably suggest for someone to do a final check for references to `ur_driver` and/or `ur_modern_driver` which aren't accompanied by either a deprecation notice/warning or which don't make it clear those references are kept for historical purposes.

Perhaps a good candidate for WRID20.

[2020-07-01 12:35] #56 closed, assigned to nobody

[2020-07-01 12:56] ipa-nhg commented on #66
I volunteer myself

[2020-07-01 13:56] gavanderhoorn opened #69 "WRID20 candidates"
Use this issue to suggest other topics, subjects and issues for consideration in the `wrid20` run this year.

[2020-07-01 13:56] gavanderhoorn commented on #69
@fmauch: FYI.

[2020-07-01 14:05] gavanderhoorn commented on #45
As creating more `industrial_robot_client` based drivers is not something we want to encourage any more, I'm going to close this.

Many robot OEMs have much more performant and better supported external motion interfaces these days, and the usage of Simple Message and the IRC has decreased.

[2020-07-01 14:05] #45 closed

[2020-07-01 14:10] gavanderhoorn commented on #48
Instead of updating the tutorial, my suggestion would be to deprecate it.

Clearly mark the tutorial as old and state it's kept for archival purposes only.

[2020-07-01 14:22] fmauch commented on #69
From a ur_robot_driver I would throw in the following issues:
 * joint_limits (UniversalRobots/Universal_Robots_ROS_Driver#198)
 * action server state reporting frequency (UniversalRobots/Universal_Robots_ROS_Driver#151)
 * prefix log messages (UniversalRobots/Universal_Robots_ROS_Driver#96)
 * setup_check_utility  (UniversalRobots/Universal_Robots_ROS_Driver#66)
 * Finish integration of new struc

[2020-07-01 14:28] gavanderhoorn commented on #69
for these specifically I have a few ideas.

The MSA v2 does some strange things I would like to avoid, so this will require some manual work.

We should not use the Gazebo-support created by the MSA v2 for instance.

This will take 5 mins for someone familiar with MoveIt and how things are "ideally" done, but may take quite some back-and-forth for someone with less experience.

As fixing the MoveI

[2020-07-02 01:21] schornakj commented on #69
Do additional repos need to be explicitly added to the WRID2020 project in order for their issues to show up on the project board?

[2020-07-02 06:08] ipa-nhg commented on #69
@schornakj yes, as linked repositories. If you don't have rights for that, list here the missed ones and we will add them.

[2020-07-06 08:38] fmauch commented on #69
As I'm not overly familiar with github features: Is there any chance we can get the https://github.com/UniversalRobots/Universal_Robots_ROS_Driver repo to the board? As far as I understood the docs it has to be done on the project board's side. Is this possible as the repo lives in another organization's namespace? Will it be enough, if I tag the respective issues with a`wrid20` label?

[2020-07-06 10:17] gavanderhoorn commented on #69
No. That's not possible.

Only repositories in the `ros-industrial` organisation can be linked to the project board.

[2020-07-06 19:46] gavanderhoorn commented on #69
@fmauch: what we can do is add a *Note* to the board (so that's not an issue). But then the content of the node would be a reference to the issue.

I'll do that for the issues you referenced.

Looks like either @cardboardcode or @Briancbn came up with that work-around.

[2020-07-06 19:49] fmauch commented on #69
Cool, that looks promising :-)

[2020-07-06 19:51] gavanderhoorn commented on #69
@schornakj: would you want the `yak` repositories to be linked to the board?

[2020-07-06 19:51] gavanderhoorn commented on #69
@fmauch: the only downside is that changes in the status of the cards will not be reflected in the timeline of the issue (ie: you won't see automatic updates of the status (unassigned, in progress, etc).

So that requires a bit more manual work to manage those cards.

[2020-07-06 20:23] schornakj commented on #69
Sorry for the late reply. Yes, if we could link [`yak`](https://github.com/ros-industrial/yak) and[ `yak_ros`](https://github.com/ros-industrial/yak_ros) that would be excellent.

e: I tagged some issues that fit the WRID2020 theme, so let me know if I need to do something different to link the issues to the board.

[2020-07-06 20:27] gavanderhoorn commented on #69
@schornakj wrote:

Done.

Could you please use the formatting for the label as specced [here](https://github.com/ros-industrial/wrid_scripts/blob/7673e7f8291d3e71f01e523ca635a6c6444fd0f2/create_wrid19_labels.sh#L33) (colour, label and description)? That way the issues you label will show up in the automated search, making things much easier to manage.

[2020-07-06 20:41] mpowelson commented on #69
Are we adding [noether](https://github.com/ros-industrial/noether) or was that decided to be too obscure? There are a few relatively low hanging fruit issues on there that seem like good candidates.

[2020-07-06 20:44] gavanderhoorn commented on #69
@mpowelson wrote:

I'd be happy to have noether on the list.

It's up to you.

[2020-07-06 20:45] mpowelson commented on #69
I would add it. Either way I will probably work on it.

[2020-07-06 20:48] gavanderhoorn commented on #69
~~If you could add some cards for the issues you'd like to be part of WRID20, that would be appreciated.~~

Edit: forgot that `noether` is actually here on `ros-industrial`.

I've linked it to the board.

If you could mark some issues, we can add them to the board.

Please use the formatting for the label as specced [here](https://github.com/ros-industrial/wrid_scripts/blob/7673e7f8291d3e71f01e523

[2020-07-06 20:49] schornakj commented on #69
Did it!

[2020-07-06 20:55] mpowelson commented on #69
@gavanderhoorn I don't think I can label things since I am not a maintainer on that repo. I can comment on them though.

[2020-07-06 20:56] gavanderhoorn commented on #69
Oh, that's unfortunate.

I can allow you to label issues. Would that work?

---

Edit: could you check whether you can now manage labels and issues?

[2020-07-06 20:58] mpowelson commented on #69
@gavanderhoorn Yes it looks like I can now. Thanks.

Edit: Though I don't know that I can add new labels. I can use existing ones though like wrid19

[2020-07-06 21:02] gavanderhoorn commented on #69
Just added the new one.

Please also make sure to add those labelled issues to the board. You should be able to do that.

[2020-07-07 08:11] ipa-nhg commented on #65
I checked the ros-industrial-consortium repositories and I found 9 with a travis configuration. For all of them I added or modified the badge of the readme. Unfortunately some of them have still to be activated to be built with the travis-ci.com system. Here the list:

- trajopt_ros (already pointing to travis-ci.com)

Active repos and the update of the readme works:
- [x] bezier : [PR open](https

[2020-07-07 09:44] gavanderhoorn commented on #65
I've reviewed all of the PRs @ipa-nhg opened.

`tesseract_ext` is for the maintainers there to merge.

`packml` needs a comment by @shaun-edwards.

[2020-07-07 15:00] cbw36 commented on #58
I'd like to work on this for WRID20, can I be assigned to it?

Also, can I get some insight into what specific documentation, scripts, and rosinstall files you are referencing so I can get started?

[2020-08-27 18:41] gavanderhoorn commented on #69
Closing as WRID20 was already 2 months ago.

[2020-08-27 18:41] #69 closed, assigned to nobody

[2020-11-05 20:11] schornakj opened #70 "ROS2 version of Tolomatic servo driver"
@ben-greenberg and I have been working on a [WIP ROS2 version](https://github.com/schornakj/tolomatic/tree/fix/ros2-rosdep-defs) of the [ROS-I Tolomatic servo driver package](https://github.com/ros-industrial/tolomatic). We want to consolidate our work in an "official" open-source repo, so I'd like to coordinate with the ROS-I organization maintainers on a good way to do this.

Right now the packa

[2020-11-05 21:12] gavanderhoorn commented on #70
I can add you as an admin to that repository if you'd like.

Does @wpmccormick no longer work at SwRI, or is he busy with other things?

I'd like to avoid just stepping in and removing people's access if it's not needed.

[2020-11-05 22:13] schornakj commented on #70
@wpmccormick no longer works at SwRI. Ben reached out to him [here ](https://github.com/ros-industrial/tolomatic/issues/7)and it seems like he's busy with other work in any case.

I think it would be OK if I were an admin for that repo.

[2020-11-06 00:17] bill-mccormick-dg commented on #70
By all means, remove me as admin. Joe has my full confidence.

BTW ... having fun doing Water/Wastewater systems. So much easier :)

On Thu, Nov 5, 2020 at 4:13 PM Joseph Schornak <notifications@github.com>
wrote:

[2020-11-06 06:35] gavanderhoorn commented on #70
@schornakj: I've setup two teams and made you member of both. The first team has push access, the other admin. Add ppl to the appropriate teams as you see fit. You're also team manager of both teams.

Let me know when creating those new repositories would be necessary.

[2020-11-06 15:22] schornakj commented on #70
@gavanderhoorn Thank you very much!

[2020-12-13 10:34] mathias-luedtke opened #71 "Travis CI: Builds have been temporarily disabled for private and public repositories due to a negative credit balance."
I now get a banner

I have now unchecked this option:

![image](https://user-images.githubusercontent.com/727227/102009345-2947d080-3d37-11eb-8cce-1ea62ac1b516.png)

[2020-12-13 10:45] mathias-luedtke commented on #71
Ah, Travis changed its billing policy: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
And we only get 10K credits = 1000 min for all non-OSS-approved ROS-Industrial repositories.

[2020-12-13 10:52] gavanderhoorn commented on #71
Yes, this is a major problem for `ros-industrial` and `ros-industrial-consortium`.

I've contacted Travis to ask for an "allotment of OSS credits", but the response was that they've stopped that for now (meaning: no OSS credits for us, or anyone afaict until they resume that).

We've already migrated some repositories to GH Actions. With `industrial_ci` that's essentially a relatively easy switch.

[2020-12-13 10:58] mathias-luedtke commented on #71
I have removed all industrial_ci daily cron jobs for now.

[2020-12-13 11:12] gavanderhoorn commented on #70
Can this be closed @schornakj ?

[2020-12-13 16:22] schornakj commented on #70
@gavanderhoorn Yes, we have the right access to make the changes we need. I'll let you know separately when we're at a point where we need a new repository.

[2020-12-13 18:28] #70 closed, assigned to nobody

[2021-02-11 09:17] Msamaritan opened #72 "XACRO ERROR"
xacro: in-order processing became default in ROS Melodic. You can drop the option.
substitution args not supported:  No module named 'rospkg'
when processing file: /home/cyber-mysterio/catkin_ws/src/turtlebot3/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro
RLException: Invalid <param> tag: Cannot load command parameter [robot_description]: command [['/opt/ros/noetic/lib/xacro/xacro', '--

[2021-02-11 10:08] gavanderhoorn commented on #72
Please do not cross-post (you'd already posted [here](https://github.com/ros-industrial/industrial_training/issues/220)), and please do not post issues with packages we do not maintain on our issue trackers.

This is an issue tracker for ROS-Industrial related packages and organisations.

For general questions about ROS, I'd suggest to post on ROS Answers.

[2021-02-11 10:08] #72 closed, assigned to nobody

[2021-02-19 13:19] hellantos opened #73 "Making repos machine readable"
ROS-Industrial repositories are hardly machine readable. This way we can hardly extract information to generate automatic overviews. However, to make people more aware of the available packages it would be great to have at least a way to classify packages automatically.

### Use GitHub topics?
We could have a convention for the repository topics.
Generally each repo should have the topic "ros-indu

[2021-02-24 09:56] gavanderhoorn opened #74 "Migrate all OSS repositories to Github Actions"
For context, see #71.

We have been iterating on Actions templates and I believe we have converged on a minimal, but useful configuration using `industrial_ci` with GHA which would be suitable for a mass-migration of all our OSS repositories.

Repositories with more advanced requirements could start from there (and possibly take a look at the configurations created by @Levi-Armstrong for `tesserac

[2021-02-24 09:56] gavanderhoorn commented on #65
I'm closing this as Travis CI will be phased out.

See #74.

[2021-02-24 09:56] #65 closed, assigned to ipa-nhg

[2021-02-24 09:56] gavanderhoorn commented on #65
Thanks for all the work @ipa-nhg :+1:

[2021-02-24 09:57] gavanderhoorn commented on #71
We'll phase out use of Travis CI across all affected repositories.

See #74.

Closing this issue as a result.

[2021-02-24 09:57] #71 closed, assigned to nobody

[2021-02-24 10:01] gavanderhoorn commented on #74
As this would require a rather large effort, I've tagged this as `help needed`.

[2021-06-30 09:00] Xillez opened #75 "Camera and sight present on ur10 collada visuals"
Collada files in "ur_descriptions/meshes/ur10/visual" contains lights and cameras. Recommend removing these from the models.

[2021-09-29 06:55] hellantos opened #76 "Create user story template for gathering industrial requirements"
- [x] Create a test repository for user stories
- [x] Research available methodologies
- [x] Create a template for user stories
- [x] Add the first user stories from local storage
- [ ] Move to ROS-I consortium once reviewed

[2021-09-29 07:07] ipa-nhg commented on #57
@ipa-hsd @gavanderhoorn I checked all the PRs and all of them are merged or closed because they were superseded by other commits.

I will close this issue for now. @ipa-hsd thanks a lot for your contribution 👍🏽

[2021-09-29 07:07] #57 closed, assigned to nobody

[2021-09-29 07:27] hsd-dev commented on #57
There was some issue with https://github.com/ros-industrial/robotiq/pull/156 with multiple licenses being added. But seems like no action has been taken for it.

[2021-09-29 07:31] gavanderhoorn commented on #57
`robotiq` has been inactive for a very long time. See my additions to the README: https://github.com/ros-industrial/robotiq/commit/a8c61490285fd5732e6e71694f636e61bb58f323.

Your PR was merged though I believe.

[2021-09-29 08:03] gavanderhoorn commented on #74
I'll try to work on this one on-and-off.

As this is a large amount of work, anyone else feel free to chip in.

Let's just coordinate which repositories we're working on.

---

Edit: repositories already done can be deduced from the linked PRs in the timeline above.

Those repositories could also function as templates for any new repositories migrated.

[2021-09-29 08:05] gavanderhoorn commented on #74
Note: when adding GHA to a repository, it's normal for the new workflows to not run for the PR they are contributed by. That's a limitation of GHA (or a feature, not sure).

A good work-around would be to enable actions in a personal fork of the repository you're working on. Then link to the build in your fork as part of the PR description.

Example of this: https://github.com/ros-industrial/kuka_

[2021-09-29 08:11] gavanderhoorn commented on #74
Migrating:

 - `ros-industrial/universal_robot`
 - `ros-industrial/abb_experimental`
 - `ros-industrial/staubli_experimental`
 - `ros-industrial/staubli_val3_driver`
 - `ros-industrial/staubli`
 - `ros-industrial/abb`
 - `ros-industrial/stomp_ros`

[2021-09-29 10:01] ipa-nhg commented on #59
@robinsonmm is this issues still relevant?

I reviewed the list of pending repositories from your old list and checked which of them have melodic support (best case a dedicated branch. And that is the result:

Industrial Core
- [x] Melodic Branch
- [x] Release

Industrial Calibration
- [x] Melodic Branch
- [ ] Release

Fanuc
- [x] Melodic Branch
- [x] Release

Motoman
- [x] Melodic Branch (no but

[2021-09-29 12:24] ipa-nhg commented on #67
I created a bash script to automate this, it is quite simple:

[code]

I will open the derived PRs but probably it will not make sense for many of the repos, likely because they contain an old distro version. For those repos without a CI system for focal I will set the PR as draft and ask the maintainer to decided if the PR should be closed or can be set as "ready" and merged.

[2021-09-29 12:52] hellantos commented on #76
@gavanderhoorn @robinsonmm
I have created a short preview of a possible template.
https://github.com/ipa-cmh/ros_i_user_stories

It is based on agile user stories, but I added a more dedicated description of the user and his industrial problem/use case, so we know where the story comes from.

What do you think about it?

[2021-09-29 13:19] ipa-nhg commented on #66
@gavanderhoorn I vote for closing this issue.

For ur_modern_driver the README says clearly that it is deprecated https://github.com/ros-industrial/ur_modern_driver#deprecation-notice
And the package ur_driver was deleted for the branch melodic-devel-staging, once it is merged into melodic-devel it will be completely clear that it is deprecated.

[2021-09-29 13:36] gavanderhoorn commented on #66
Ok.

Thanks for checking.

We still get questions about this from time-to-time, but we can't pre-empt all of those I believe.

[2021-09-29 13:36] #66 closed, assigned to ipa-nhg

[2021-09-29 15:46] gavanderhoorn commented on #76
Looks OK.

High level comment: any time there is the option to list multiple items (such as for *User type*), I'd suggest using an actual list, or use comma separation. Or change markup such that *robotics end-user* and the other options are clearly distinguishable from the "and". It's not easy right now to scan the file.

Did you also want to create something to capture missing features / functio

[2021-09-29 15:58] hellantos commented on #76
Good point on machine processing.

I suppose we could have a list of necessary technologies/features/functionalities for the user stories.

[2021-09-29 16:35] gavanderhoorn commented on #59
`industrial_moveit` will not see a release.

`industrial_calibration` is undergoing extensive refactoring.

`universal_robot` is already Melodic compatible.

and `motoman` as well.

I believe we can close this issue.

We can track progress for individual packages on the respective trackers.

[2021-09-29 16:35] #59 closed, assigned to nobody

[2021-09-29 16:37] gavanderhoorn commented on #68
We're not going to do this.

Seems there is too much variation in loaders being used, and compressed Collada is not supported by all of them.

Oh well.

[2021-09-29 16:37] #68 closed, assigned to nobody

[2021-09-29 17:03] robinsonmm commented on #59
Thanks Gijs, agreed.

[2021-09-29 17:21] ipa-nhg commented on #50
assigned to @jeritgeorge

[2021-09-29 18:04] gavanderhoorn commented on #50
Has there been any discussion on how to approach this?

Simply removing the dependency would be the easiest, but would also probably result in surprised users.

[2021-09-29 18:29] jeritgeorge commented on #50
I was thinking one way to just present some sort of error message is doing something like creating a node for a rostopic publisher and subscriber in the launch file that would print out a message stating that rviz is not installed by default and is required. Though I  can't figure out a way to easily do something like check if the package is installed and if not print the message.

[2021-09-29 18:33] gavanderhoorn commented on #50
[`launch` supports `eval(..)`](http://wiki.ros.org/roslaunch/XML), which could perhaps be used with `find(..)` to figure out whether a package is installed. I'm not sure what happens if you try to `find(..)` something and it fails.

[2021-09-29 19:19] jeritgeorge commented on #50
I tried using eval(..) with find(..) which does work if it finds the package, but if find(..) does fail, it just prints out the package wasn't found and the launch file crashes. A simpler solution could be to print out a message stating something like "rviz isn't a dependency and if it isn't found, then it will need to manually installed." and have it print out regardless.

[2021-09-29 19:24] gavanderhoorn commented on #50
you mean, unconditionally?

That would be really confusing I feel.

The nr of times we have people opening issues because they perceive warnings to be fatal errors is certainly non-negligible.

[2021-09-29 19:46] gavanderhoorn commented on #50
We could consider creating a 'wrapper script', which we start instead of RViz proper.

That script checks whether RViz is installed, if not: print warning and hang (we can't exit as the `rviz` node is often a `required` node and if we exit everything just shuts down and we might as well not check and let `roslaunch` just fail).

If it is installed, simply start RViz and pass on all args the wrappe

[2021-09-29 19:53] jeritgeorge commented on #50
Would having a compiled C++ script in a simple support package be unnecessarily complex? If not, I can go ahead and try to implement this.

[2021-09-29 19:59] gavanderhoorn commented on #50
No that's basically what I was suggesting.

So instead of

[code]

we'd have:

[code]

Let's treat it as a prototype though. It could be were either over-engineering this or UX is horrible which we figure out after it's all implemented.

PS: checking whether RViz is installed is probably easiest to do with `rospack` (which has a C++ library).

---

<del>Edit: we could also use a `launch-prefix`. T

[2021-09-29 20:05] gavanderhoorn commented on #50
Could even make it generic, and not check for RViz specifically, but a binary in a ROS package. Then it could be used to make whatever node optional -- in lieu of support for this in `roslaunch` proper.

[2021-09-30 07:32] gavanderhoorn commented on #76
We could consider using a YAML based format for this. Example: [robust-rosin/robust/kobuki/03660af/03660af.bug](https://github.com/robust-rosin/robust/blob/833a891c98b69beb0df0a9411f23990f02175b32/kobuki/03660af/03660af.bug).

It wouldn't need to be this extensively structured or complex, but YAML is still human readable, allows free-form text (in certain special fields) and would make this immedi

[2021-10-05 07:23] gavanderhoorn commented on #50
@jeritgeorge: would you be able/willing to complete implementing the discussed approach? Otherwise please unassign yourself from this issue.

[2021-10-05 15:00] jeritgeorge commented on #50
Sorry, yes, I just haven't had any time these past few days, though I should have time to try implementing today.

[2021-10-06 07:29] gavanderhoorn commented on #64
Closing. 2019 was a long time ago already.

[2021-10-06 07:29] #64 closed, assigned to nobody